In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
df_building = pd.read_csv('SeoulBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_fire = df_fire.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_supermarket = df_supermarket.groupby('InputID').agg(lambda x: list(x))
df_toilet = df_toilet.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_fire.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_supermarket.drop(columns=['TargetID'], inplace = True)
df_toilet.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [8]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

                   InputID                                           Distance
0           SeoulBuilding0  [1415.45630691975, 977.228081718321, 1244.3368...
1           SeoulBuilding1  [1464.44575036646, 927.186935921427, 1263.5457...
2          SeoulBuilding10  [1256.55137266942, 1146.39871647139, 1167.5287...
3         SeoulBuilding100  [6347.58930545253, 6339.53550351511, 6230.6264...
4        SeoulBuilding1000  [346.454705269891, 1941.72666332577, 871.63219...
...                    ...                                                ...
103085  SeoulBuilding99995  [3295.17722224155, 3087.82831469905, 2978.6457...
103086  SeoulBuilding99996  [3366.26951650968, 3144.83265321187, 3049.4626...
103087  SeoulBuilding99997  [3501.33930010127, 3217.94482116402, 3163.8606...
103088  SeoulBuilding99998  [3434.19475821654, 3186.40352431944, 3109.7171...
103089  SeoulBuilding99999  [3658.01440985531, 3330.19327919286, 3304.7818...

[103090 rows x 2 columns]

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_fire, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_supermarket, on='Building', how = 'inner')
df = df.merge(df_toilet, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [11]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,SeoulBuilding0,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12348.1428356506, 12348.7132266719, 10184.486...","[9580.55205854534, 4423.52825517103, 7643.6639...","[918.6340562364, 1349.71814546214, 1362.971374...","[1067.30742031825, 1922.56398719239, 1258.8444...","[1169.1471678539, 1470.45086246436, 1907.27947...","[724.046741148036, 542.419375985752, 503.37238...","[9307.80792220611, 6320.9202409316, 3522.53539...",[5503.9217896806],"[4019.71979797228, 8061.14682821381, 8355.2141...","[1415.45630691975, 977.228081718321, 1244.3368..."
1,SeoulBuilding1,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12397.9901767461, 12398.5827006879, 10234.529...","[9624.98996083836, 4452.89733198978, 7689.0116...","[952.415541188984, 1378.64504326607, 1391.8673...","[1101.67056154142, 1877.48025716276, 1295.8917...","[1121.19884718697, 1514.52751036602, 1863.1332...","[757.463329960328, 564.809863376644, 552.15590...","[9348.22170159752, 6364.86883219933, 3548.0764...",[5545.15857548131],"[4012.38998012623, 8096.21560471905, 8391.4508...","[1464.44575036646, 927.186935921427, 1263.5457..."
2,SeoulBuilding2,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12403.6363362685, 12404.5288477882, 10247.572...","[9662.87773307916, 4508.50310031457, 7673.7366...","[917.514461525526, 1337.0109389226, 1350.18477...","[1067.24916402461, 1895.07313864986, 1265.1503...","[1130.0051044608, 1497.21220333673, 1590.93535...","[722.69232099936, 623.601971409253, 578.848531...","[9393.03960421503, 6346.0003160312, 3502.09913...",[5520.39320623789],"[4070.90883723106, 8061.02307715653, 8357.9501...","[1488.74058145831, 916.191971652784, 1212.9452..."
3,SeoulBuilding3,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12262.4734929929, 12263.4782144171, 10110.233...","[9556.56589044165, 4457.35618934641, 7533.2412...","[795.942050643521, 1227.37404497068, 1240.6336...","[944.73750001187, 2034.13541433554, 1137.32642...","[1272.21525831051, 1357.48162796667, 1686.0714...","[601.290216852958, 607.509290128155, 463.92201...","[9302.5035818962, 6207.37096533902, 3401.23439...",[5386.10839681887],"[4126.15997816666, 7938.87029978167, 8233.3853...","[1364.06006393122, 1056.43633462491, 1127.9105..."
4,SeoulBuilding4,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12254.4285473874, 12255.2339374203, 10097.272...","[9527.77844105338, 4418.21937190182, 7539.3939...","[818.527662223348, 1254.06999700337, 1267.3438...","[966.510037536863, 2026.94562271445, 1155.8792...","[1270.58369152843, 1365.59105081491, 1717.1901...","[624.661407343816, 566.417518121268, 436.50736...","[9269.5526045229, 6216.05455829794, 3429.77982...",[5398.98374442393],"[4089.20635297031, 7959.07255966886, 8252.3626...","[1342.10973662113, 1066.1954601533, 1161.47735..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,SeoulBuilding101740,NaN,residential,NaN,NaN,NaN,53-6,상봉로28길,서울시 중랑구,NaN,...,"[313.02293847761, 168.923954787418, 303.386984...","[13002.6372962501, 18384.1083394083, 19695.087...","[11534.9311560191, 14477.0690496536, 11459.450...","[875.477427273699, 905.440420662528, 377.59922...","[3671.90879095535, 1200.23716943491, 1451.1317...","[158.712149505819, 382.412714365344, 416.16639...","[9945.07567579361, 9926.14095794235, 10169.343...",[21116.3907903452],"[21065.5380560998, 19432.6247485008, 5691.4503...","[908.179810616431, 485.324661413116, 1531.9584..."
83400,SeoulBuilding101741,NaN,residential,NaN,NaN,NaN,69-10,봉우재로71길,서울시 중랑구,NaN,...,"[312.011908862381, 169.608297153995, 297.73933...","[13011.7270139561, 18394.1399438164, 19702.273...","[11546.0385455493, 14484.2026957413, 11465.674...","[866.85029753391, 896.912458990737, 366.515145...","[3660.80124120913, 1189.14695776918, 1451.5880...","[147.622547259032, 392.284863096057, 425.22598...","[9955.81455454765, 9934.31072777692, 10177.351...",[21124.345033201],"[21075.9580998047, 19440.7102838342, 5685.4697...","[912.319534822398, 481.563379083723, 1521.5641..."
83401,SeoulBuilding101742,NaN,residential,NaN,NaN,NaN,57,상봉로28길,서울시 중랑구,NaN,...,"[296.682788061393, 187.324098010632, 295.46948...","[13002.2971016523, 18379.9762301942, 19700.448...","[11521.9509811447, 14482.571392999, 11467.1758...","[874.663536721977, 904.298010092014, 390.12801...","[3684.9678092867, 1214.68416571958, 1468.97161...","[173.900376095729, 362.291097249293, 394.75629...","[9927.55760595407, 9928.78805879888, 10172.465...",[21119.6520270716],"[21059.4220084718, 19435.5048428341, 5714.0125...","[920.497635230611, 507.129388320791, 1538.1262..."
83402,SeoulBuilding101743,NaN,residential,NaN,NaN,NaN,69-9,봉우재로71길,서울시 중랑구,NaN,...,"[299.2587207523, 182.344517900057, 286.6925095...","[13019.0825315967, 18399.6379654622, 19712.027...","[11546.2531386316, 14494.0077001069, 11476.268...","[858.808708251189, 888.730094980173, 365.86952...","[3660.62749963524, 1189.95655846034, 1464.3643...","[148.947969609929, 386.665333551259, 418.03779...","[9952.55328558473, 9942.97908126212, 10186.216...",[21133.2745530548],"[21080.3957581449, 19449.4822207889, 5696.2556...","[924.173647703559, 493.660276385105, 1517.0814..."
83403,SeoulBuilding101744,NaN,residential,NaN,NaN,NaN,63-10,봉우재로71길,서울시 중랑구,NaN,...,"[288.849594888794, 192.768702350352, 276.93835...","[13026.5089221342, 18405.7229137707, 19721.069...","[11548.2653346515, 14503.0825056745, 11485.828...","[850.976557981089, 880.796821364137, 363.84471...","[3658.6907621866, 1188.88430493532, 1474.73734...","[149.010827093259, 384.064093725998, 413.99275...","[9951.70715519526, 9951.31143696153, 10194.681...",[21141.7790443552],"[21085.6904627068, 19457.8816863974, 5703.9694...","[934.416725572607, 502.857244027236, 1511.8198..."

In [12]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_ko', 'osm_id', 'osm_type', 'id', 'name_2', 'source_2',
       'lon', 'lat', 'Civic', 'Fire', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Supermarket', 'Toilet', 'Transport'],
      dtype='object')

In [10]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [11]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [13]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_ko', 'osm_id', 'osm_type', 'id', 'name_2', 'source_2',
       'lon', 'lat', 'Civic', 'Fire', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Supermarket', 'Toilet', 'Transport',
       'Civic_nearby', 'Fire_nearby', 'Government_nearby', 'Hospital_nearby',
       'Public_nearby', 'School_nearby', 'Sports_nearby', 'Supermarket_nearby',
       'Toilet_nearby', 'Transport_nearby', 'Civic_Score', 'Fire_Score',
       'Government_Score', 'Hospital_Score', 'Public_Score', 'School_Score',
       'Sports_Score', 'Supermarket_Score', 'Toilet_Score', 'Transport_Score'],
      dtype='object')

In [14]:
df = df[['Building', 'lon', 'lat', 'Civic_Score', 'Fire_Score',
       'Government_Score', 'Hospital_Score', 'Public_Score', 'School_Score',
       'Sports_Score', 'Supermarket_Score', 'Toilet_Score', 'Transport_Score']]

In [15]:
df.to_csv('SeoulScoreRAW1.csv', index = False)

In [15]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 31.2 ms
Wall time: 24.6 ms

In [16]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 34.6 s
Wall time: 34.7 s

In [17]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,SeoulBuilding0,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.9307807922206109, 0.63209202409316, 0.35225...",[0.55039217896806],[0.55039217896806],[0.55039217896806],"[0.401971979797228, 0.806114682821381, 0.83552...","[0.401971979797228, 0.806114682821381, 0.83552...","[0.401971979797228, 0.806114682821381, 0.83552...","[0.141545630691975, 0.0977228081718321, 0.1244...","[0.141545630691975, 0.0977228081718321, 0.1244...","[0.141545630691975, 0.0977228081718321, 0.1244..."
1,SeoulBuilding1,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.934822170159752, 0.6364868832199331, 0.3548...",[0.554515857548131],[0.554515857548131],[0.554515857548131],"[0.401238998012623, 0.809621560471905, 0.83914...","[0.401238998012623, 0.809621560471905, 0.83914...","[0.401238998012623, 0.809621560471905, 0.83914...","[0.146444575036646, 0.0927186935921427, 0.1263...","[0.146444575036646, 0.0927186935921427, 0.1263...","[0.146444575036646, 0.0927186935921427, 0.1263..."
2,SeoulBuilding2,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.939303960421503, 0.63460003160312, 0.350209...",[0.552039320623789],[0.552039320623789],[0.552039320623789],"[0.407090883723106, 0.806102307715653, 0.83579...","[0.407090883723106, 0.806102307715653, 0.83579...","[0.407090883723106, 0.806102307715653, 0.83579...","[0.14887405814583102, 0.0916191971652784, 0.12...","[0.14887405814583102, 0.0916191971652784, 0.12...","[0.14887405814583102, 0.0916191971652784, 0.12..."
3,SeoulBuilding3,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.9302503581896201, 0.620737096533902, 0.3401...",[0.5386108396818869],[0.5386108396818869],[0.5386108396818869],"[0.412615997816666, 0.793887029978167, 0.82333...","[0.412615997816666, 0.793887029978167, 0.82333...","[0.412615997816666, 0.793887029978167, 0.82333...","[0.136406006393122, 0.10564363346249099, 0.112...","[0.136406006393122, 0.10564363346249099, 0.112...","[0.136406006393122, 0.10564363346249099, 0.112..."
4,SeoulBuilding4,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.9269552604522899, 0.621605455829794, 0.3429...",[0.539898374442393],[0.539898374442393],[0.539898374442393],"[0.408920635297031, 0.7959072559668859, 0.8252...","[0.408920635297031, 0.7959072559668859, 0.8252...","[0.408920635297031, 0.7959072559668859, 0.8252...","[0.134210973662113, 0.10661954601533, 0.116147...","[0.134210973662113, 0.10661954601533, 0.116147...","[0.134210973662113, 0.10661954601533, 0.116147..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,SeoulBuilding101740,NaN,residential,NaN,NaN,NaN,53-6,상봉로28길,서울시 중랑구,NaN,...,"[0.9945075675793611, 0.9926140957942351, 1.016...",[],[2.1116390790345196],[2.1116390790345196],[0.5691450387945399],"[2.10655380560998, 1.94326247485008, 0.5691450...","[2.10655380560998, 1.94326247485008, 0.5691450...","[0.0908179810616431, 0.048532466141311605, 0.1...","[0.0908179810616431, 0.048532466141311605, 0.1...","[0.0908179810616431, 0.048532466141311605, 0.1..."
83400,SeoulBuilding101741,NaN,residential,NaN,NaN,NaN,69-10,봉우재로71길,서울시 중랑구,NaN,...,"[0.995581455454765, 0.9934310727776919, 1.0177...",[],[2.1124345033201],[2.1124345033201],[0.5685469743098349],"[2.1075958099804697, 1.94407102838342, 0.56854...","[2.1075958099804697, 1.94407102838342, 0.56854...","[0.09123195348223981, 0.0481563379083723, 0.15...","[0.09123195348223981, 0.0481563379083723, 0.15...","[0.09123195348223981, 0.0481563379083723, 0.15..."
83401,SeoulBuilding101742,NaN,residential,NaN,NaN,NaN,57,상봉로28길,서울시 중랑구,NaN,...,"[0.992755760595407, 0.992878805879888, 1.01724...",[],[2.11196520270716],[2.11196520270716],[0.571401253790052],"[2.10594220084718, 1.94355048428341, 0.5714012...","[2.10594220084718, 1.94355048428341, 0.5714012...","[0.0920497635230611, 0.0507129388320791, 0.153...","[0.0920497635230611, 0.0507129388320791, 0.153...","[0.0920497635230611, 0.0507129388320791, 0.153..."
83402,SeoulBuilding101743,NaN,residential,NaN,NaN,NaN,69-9,봉우재로71길,서울시 중랑구,NaN,...,"[0.9952553285584731, 0.994297908126212, 1.0186...",[],[2.1133274553054804],[2.1133274553054804],[0.569625568543236],"[2.10803957581449, 1.94494822207889, 0.5696255...","[2.10803957581449, 1.94494822207889, 0.5696255...","[0.0924173647703559, 0.0493660276385105, 0.151...","[0.0924173647703559, 0.0493660276385105, 0.151...","[0.0924173647703559, 0.0493660276385105, 0.151..."
83403,SeoulBuilding101744,NaN,residential,NaN,NaN,NaN,63-10,봉우재로71길,서울시 중랑구,NaN,...,"[0.995170715519526, 0.9951311436961531, 1.0194...",[],[2.11417790443552],[2.11417790443552],[0.5703969438455351],"[2.10856904627068, 1.9457881686397398, 0.57039...","[2.10856904627068, 1.9457881686397398, 0.57039...","[0.0934416725572607, 0.0502857244027236, 0.151...","[0.0934416725572607, 0.0502857244027236, 0.151...","[0.0934416725572607, 0.0502857244027236, 0.151..."

In [18]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 39.5 s
Wall time: 39.5 s

In [19]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 33.3 s
Wall time: 33.4 s

In [20]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,SeoulBuilding0,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.42,0.45,4.45,9.45,1.40,21.40,46.40,4.08,24.08,49.08
1,SeoulBuilding1,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.40,0.45,4.45,9.45,1.40,21.40,46.40,4.07,24.07,49.07
2,SeoulBuilding2,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.40,0.45,4.45,9.45,1.38,21.38,46.38,4.07,24.07,49.07
3,SeoulBuilding3,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.46,0.46,4.46,9.46,1.44,21.44,46.44,4.09,24.09,49.09
4,SeoulBuilding4,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.46,0.46,4.46,9.46,1.42,21.42,46.42,4.09,24.09,49.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,SeoulBuilding101740,NaN,residential,NaN,NaN,NaN,53-6,상봉로28길,서울시 중랑구,NaN,...,45.16,0.00,2.89,7.89,0.43,17.27,42.27,4.33,24.33,49.33
83400,SeoulBuilding101741,NaN,residential,NaN,NaN,NaN,69-10,봉우재로71길,서울시 중랑구,NaN,...,45.15,0.00,2.89,7.89,0.43,17.26,42.26,4.33,24.33,49.33
83401,SeoulBuilding101742,NaN,residential,NaN,NaN,NaN,57,상봉로28길,서울시 중랑구,NaN,...,45.17,0.00,2.89,7.89,0.43,17.27,42.27,4.33,24.33,49.33
83402,SeoulBuilding101743,NaN,residential,NaN,NaN,NaN,69-9,봉우재로71길,서울시 중랑구,NaN,...,45.15,0.00,2.89,7.89,0.43,17.26,42.26,4.33,24.33,49.33
83403,SeoulBuilding101744,NaN,residential,NaN,NaN,NaN,63-10,봉우재로71길,서울시 중랑구,NaN,...,45.14,0.00,2.89,7.89,0.43,17.25,42.25,4.33,24.33,49.33

In [29]:
df.columns[89]

IndexError: index 89 is out of bounds for axis 0 with size 89

In [30]:
# Vectorized scaling operation
df.iloc[:, 59:89] = df.iloc[:, 59:89].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [31]:
# Optimized approach
try:
    df.iloc[:, 59:89] = df.iloc[:, 59:89].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [32]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,SeoulBuilding0,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.85,4.5,8.05,8.05,5.49,9.09,9.09,8.12,8.14,8.14
1,SeoulBuilding1,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.82,4.5,8.05,8.05,5.49,9.09,9.09,8.10,8.12,8.12
2,SeoulBuilding2,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.82,4.5,8.05,8.05,5.41,9.07,9.07,8.10,8.12,8.12
3,SeoulBuilding3,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.90,4.6,8.09,8.09,5.65,9.15,9.15,8.14,8.16,8.16
4,SeoulBuilding4,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.90,4.6,8.09,8.09,5.57,9.12,9.12,8.14,8.16,8.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,SeoulBuilding101740,NaN,residential,NaN,NaN,NaN,53-6,상봉로28길,서울시 중랑구,NaN,...,4.97,0.0,2.52,2.52,1.69,3.51,3.51,8.67,8.69,8.69
83400,SeoulBuilding101741,NaN,residential,NaN,NaN,NaN,69-10,봉우재로71길,서울시 중랑구,NaN,...,4.96,0.0,2.52,2.52,1.69,3.50,3.50,8.67,8.69,8.69
83401,SeoulBuilding101742,NaN,residential,NaN,NaN,NaN,57,상봉로28길,서울시 중랑구,NaN,...,4.99,0.0,2.52,2.52,1.69,3.51,3.51,8.67,8.69,8.69
83402,SeoulBuilding101743,NaN,residential,NaN,NaN,NaN,69-9,봉우재로71길,서울시 중랑구,NaN,...,4.96,0.0,2.52,2.52,1.69,3.50,3.50,8.67,8.69,8.69
83403,SeoulBuilding101744,NaN,residential,NaN,NaN,NaN,63-10,봉우재로71길,서울시 중랑구,NaN,...,4.94,0.0,2.52,2.52,1.69,3.49,3.49,8.67,8.69,8.69

In [33]:
df.to_csv('SeoulScoreRAW.csv', index = False)