In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('BangkokBuildingV1.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_13412\254613366.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BangkokBuildingV1.csv')

In [3]:
for i in df.index:
    df['name'].iloc[i] = 'BangkokBuilding' + str(i)

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_13412\1227371355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'].iloc[i] = 'BangkokBuilding' + str(i)

In [4]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,source,name_th,osm_id,osm_type,Latitude,Longitude,source_2,id,name_2
0,BangkokBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568535090,ways_poly,100.548297,13.797211,https://simplemaps.com,TH10,Bangkok Metropolis
1,BangkokBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,567840186,ways_poly,100.535325,13.838425,https://simplemaps.com,TH10,Bangkok Metropolis
2,BangkokBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,424069855,ways_poly,100.411950,13.780661,https://simplemaps.com,TH10,Bangkok Metropolis
3,BangkokBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,424069857,ways_poly,100.412195,13.780766,https://simplemaps.com,TH10,Bangkok Metropolis
4,BangkokBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,424069861,ways_poly,100.412280,13.781637,https://simplemaps.com,TH10,Bangkok Metropolis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40434,BangkokBuilding40434,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1318472092,ways_poly,100.456549,13.612396,https://simplemaps.com,TH10,Bangkok Metropolis
40435,BangkokBuilding40435,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1318472100,ways_poly,100.453631,13.614091,https://simplemaps.com,TH10,Bangkok Metropolis
40436,BangkokBuilding40436,NaN,yes,4.0,NaN,NaN,176,ถนนแฉล้มนิมิตร,แขวงบางโคล่,NaN,NaN,NaN,657642557,ways_poly,100.510425,13.696714,https://simplemaps.com,TH10,Bangkok Metropolis
40437,BangkokBuilding40437,NaN,yes,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,657642561,ways_poly,100.510570,13.696915,https://simplemaps.com,TH10,Bangkok Metropolis
40438,BangkokBuilding40438,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151982342,ways_poly,100.546513,13.915519,https://simplemaps.com,TH10,Bangkok Metropolis

In [5]:
df['building'].value_counts()

yes                                 26818
house                                7570
residential                          3183
apartments                            524
terrace                               285
temple                                279
commercial                            272
retail                                265
school                                193
roof                                  181
industrial                            179
university                            137
hospital                               91
office                                 64
warehouse                              62
dormitory                              53
hotel                                  40
semidetached_house                     36
train_station                          29
carport                                22
detached                               18
garage                                 17
civic                                  12
college                                12
construction                            9
mosque                                  8
greenhouse                              8
chapel                                  7
parking                                 7
public                                  6
pavilion                                6
service                                 5
kindergarten                            4
condominium                             4
tower                                   4
government                              4
stadium                                 3
church                                  3
ruins                                   3
no                                      2
hut                                     2
hangar                                  1
stilt_house                             1
inside_maison_hotel_bangkok_area        1
transportation                          1
gatehouse                               1
building                                1
brewery                                 1
shed                                    1
collapsed                               1
yes;roof                                1
restaurant                              1
pagoda                                  1
Name: building, dtype: int64

In [6]:
df.rename(columns = {'Latitude' : 'lon', 'Longitude' : 'lat'}, inplace = True)

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

In [9]:
df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [10]:
df_supermarket

Empty DataFrame
Columns: [name, name_en, building, building_l, building_m, addr_full, addr_house, addr_stree, addr_city, office, source, name_th, osm_id, osm_type, lon, lat, source_2, id, name_2]
Index: []

In [11]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [12]:
df_building.to_csv('BangkokBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [ ]:
df_hospital