In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('JakartaBuildings.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_6916\2709776322.py:1: DtypeWarning: Columns (2,4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('JakartaBuildings.csv')

In [3]:
df['building'].value_counts()

yes                       1613439
school                       5539
mosque                       4463
kindergarten                 1626
community_group_office       1472
                           ...
amusement_arcade                1
theatre                         1
amenity                         1
tailor                          1
museum                          1
Name: building, Length: 107, dtype: int64

In [4]:
df

,fid,name,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,ADM2ALT2EN,ADM1_EN,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,validTo,lon,lat
0,1066383,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756845,-6.265769
1,1066384,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756696,-6.264308
2,1066385,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.755853,-6.264947
3,1066468,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756067,-6.265151
4,1066469,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.755938,-6.264866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639799,41092003,Klaster Ar Rohman,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.869980,-6.279828
1639800,41092012,The Grove Suites by GRAND ASTON,NaN,yes,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834431,-6.217458
1639801,41092013,Masterpiece Tower,NaN,apartments,40.0,NaN,NaN,NaN,Jalan Epicentrum Tengah,South Jakarta,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834369,-6.217775
1639802,41092014,NaN,NaN,roof,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.831281,-6.223269
1639803,41092015,NaN,NaN,yes,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834624,-6.213764

In [5]:
df['name'] = df.index.map(lambda i: f'JakartaBuilding{i}')

In [6]:
df

,fid,name,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,ADM2ALT2EN,ADM1_EN,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,validTo,lon,lat
0,1066383,JakartaBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756845,-6.265769
1,1066384,JakartaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756696,-6.264308
2,1066385,JakartaBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.755853,-6.264947
3,1066468,JakartaBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.756067,-6.265151
4,1066469,JakartaBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.755938,-6.264866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639799,41092003,JakartaBuilding1639799,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.869980,-6.279828
1639800,41092012,JakartaBuilding1639800,NaN,yes,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834431,-6.217458
1639801,41092013,JakartaBuilding1639801,NaN,apartments,40.0,NaN,NaN,NaN,Jalan Epicentrum Tengah,South Jakarta,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834369,-6.217775
1639802,41092014,JakartaBuilding1639802,NaN,roof,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.831281,-6.223269
1639803,41092015,JakartaBuilding1639803,NaN,yes,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,Dki Jakarta,ID31,Indonesia,ID,2019/12/20,2020/04/01,NaN,106.834624,-6.213764

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital', 'clinic']

In [8]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [9]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [10]:
df_building.to_csv('JakartaBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)