In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
df_building = pd.read_csv('TokyoBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_fire = df_fire.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_supermarket = df_supermarket.groupby('InputID').agg(lambda x: list(x))
df_toilet = df_toilet.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_fire.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_supermarket.drop(columns=['TargetID'], inplace = True)
df_toilet.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [8]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

                    InputID                                           Distance
0         TokyoBuilding1000  [1929.44453247456, 2448.28656170153, 2495.5428...
1       TokyoBuilding100000  [1582.05161115495, 1638.87029172835, 1630.0918...
2       TokyoBuilding100001  [1566.62176830632, 1623.55074246022, 1614.0468...
3       TokyoBuilding100002  [1547.87051399672, 1604.55039027573, 1596.9409...
4       TokyoBuilding100003  [1537.47273849045, 1594.37555763807, 1585.2121...
...                     ...                                                ...
169975   TokyoBuilding99995  [1537.92761076589, 1596.32160350883, 1575.2955...
169976   TokyoBuilding99996  [1554.92629258274, 1613.01140340242, 1594.5395...
169977   TokyoBuilding99997  [1642.846686263, 1699.90778967499, 1689.063650...
169978   TokyoBuilding99998  [1600.4228072547, 1657.31577018932, 1647.90822...
169979   TokyoBuilding99999  [1592.27047217278, 1649.1276545254, 1640.02000...

[169980 rows x 2 columns]

In [9]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [10]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_fire, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_supermarket, on='Building', how = 'inner')
df = df.merge(df_toilet, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [10]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,TokyoBuilding33,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[15989.4379797513, 15925.3849420854, 15949.921...","[15357.2491022196, 18669.9961970264, 16610.739...","[24017.2001481468, 19148.1846208985, 15829.014...","[2123.72372380444, 2336.71050474884, 2102.7252...","[4522.08656319407, 2088.20649896289, 2896.5302...","[403.408174404411, 382.076978498298, 386.64425...","[18106.701178197, 13204.2139771388, 17964.2941...","[15677.658853346, 13140.2156541584, 14814.3199...","[11458.3383163024, 19349.1265100205, 14018.734...","[5576.57972190342, 5568.55724717629, 4630.6576..."
1,TokyoBuilding242,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11568.978000459, 18204.8330970304, 18612.5803...","[27848.563193283, 15055.9596884662, 17287.1649...","[6924.2419788025, 35294.8949328077, 28121.2558...","[1526.67566696025, 1523.22904376105, 1403.6805...","[903.617954948559, 498.996818052142, 351.40379...","[370.913554462959, 863.072590654652, 383.45372...","[13400.9078565235, 26414.4481616993, 26766.458...","[5627.36856411932, 10176.6500243779, 17322.211...","[2435.00653769209, 2599.51615462991, 2374.2947...","[1723.25843245248, 583.446403518437, 1703.0839..."
2,TokyoBuilding262,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11920.7784246714, 18594.9231639193, 18999.646...","[28169.6207757598, 15024.6549406961, 17627.897...","[6899.49981819011, 35594.97431674, 28488.74071...","[1878.00278825752, 1870.09069289489, 1758.6473...","[719.704038939516, 1026.444173831, 724.6150164...","[653.459202682524, 1216.75627499305, 603.88653...","[13646.6903027689, 26815.3107983712, 26885.685...","[5917.41237064577, 18104.2733833879, 10534.529...","[2889.68837916389, 3052.02748289769, 2816.5903...","[2114.27387723629, 1038.40590269245, 2089.8034..."
3,TokyoBuilding266,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12370.3236183461, 19041.2353951951, 19446.608...","[28615.7967975369, 15284.212569354, 18076.7522...","[7175.50831884857, 36036.6996662834, 28938.138...","[2327.17091595905, 2319.46835894234, 2207.4626...","[906.140801731342, 576.897942718315, 318.41452...","[1102.3405081497, 1438.63303100375, 435.200469...","[14072.9361401434, 27258.6727636388, 27247.516...","[6359.29747257173, 18321.1880352529, 10984.137...","[3249.05051482481, 3394.00627245099, 3124.2461...","[2558.00937098367, 1422.54528289409, 2534.5394..."
4,TokyoBuilding267,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[12384.2615987623, 19055.9962768788, 19461.306...","[28628.9180604416, 15287.0002610046, 18090.396...","[7179.19626589369, 36049.258063403, 28952.3933...","[2341.49109689121, 2333.72058620938, 2221.8632...","[920.18227997815, 562.729880871075, 312.143382...","[1116.69372332614, 1452.59223342182, 443.11481...","[14084.1684610407, 27273.6479593202, 27254.885...","[6371.92925216881, 18322.2229638106, 10998.224...","[3264.46130731255, 3409.24533383913, 3139.0757...","[2572.90518173048, 1438.13825885729, 2549.3729..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161783,TokyoBuilding1333450,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3731.75419307311, 3669.48542688866, 5568.6675...","[6949.55123095603, 3068.17058287078, 6722.6278...","[6319.49519009518, 6482.95050305972, 6774.3576...","[705.910180410526, 1127.41839423697, 2261.4324...","[219.680323706818, 665.417803633172, 667.08981...","[71.1085628124348, 51.2865777130866, 59.031538...","[4239.14694322774, 3634.12122060176, 1066.4708...","[1892.50193509668, 601.057559864653, 751.79258...","[4718.4437143114, 4362.02628108713, 5805.11472...","[770.687320701174, 794.152971479507, 910.93738..."
161784,TokyoBuilding1333451,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3883.63124860634, 3313.00378348836, 3825.2900...","[3506.89830512473, 6816.00851934987, 4053.4068...","[6251.59990843785, 6247.72817429593, 6359.1361...","[879.58517258196, 2596.19594313198, 1224.94736...","[430.095139039352, 330.850311822619, 451.47531...","[194.437706837848, 128.621212251342, 51.434011...","[3810.82977818766, 3797.95053022944, 1176.1264...","[2325.6951144793, 935.071182968994, 447.790759...","[4809.7758984646, 3956.45174681401, 6221.69469...","[508.225806201587, 498.602522703764, 663.51164..."
161785,TokyoBuilding1333454,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3858.53548761228, 3276.05830545917, 3851.6072...","[3528.19495468028, 6786.10129884961, 4028.6402...","[6213.91216977611, 6268.78048020373, 6329.1614...","[863.550522647701, 2576.91107083236, 1200.0378...","[436.69992169726, 332.716140753733, 635.866263...","[234.82955225792, 169.010695458621, 53.5582445...","[3800.96700277932, 3824.43753692447, 1216.5239...","[2350.23394714058, 934.081144203699, 407.37593...","[4780.1261134562, 3924.64659346066, 6228.96537...","[468.382724197351, 458.19719139203, 623.529760..."
161786,TokyoBuilding1333455,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3469.64297948159, 3279.26866220701, 4238.3628...","[6686.30865892334, 3342.579225346, 6415.525599...","[5922.24517535015, 6664.61704052637, 6444.1161...","[469.493201305765, 2180.06268022929, 812.21762...","[826.34209395152, 217.98201354228, 238.9615191...","[291.353969495969, 366.845883076796, 377.29822...","[4108.78155055856, 4010.71149826438, 1456.5487...","[2211.41320803938, 607.855944309681, 403.87870...","[4408.7098963356, 4020.38895139657, 5919.98927...","[387.7192707043, 1288.20234564097, 430.6469279..."
161787,TokyoBuilding1333456,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3475.18890181565, 3290.81756690399, 4232.8102...","[6692.13129332549, 3333.20914649366, 6422.7698...","[5932.67609472418, 6660.68256148766, 6454.3066...","[470.811662674796, 2183.42539789697, 818.33954...","[824.975726470025, 206.438064918904, 242.31802...","[280.597813719249, 362.563698309259, 366.15554...","[4113.47620174551, 3999.23226252641, 1445.8895...","[2200.91886819978, 601.949729525937, 412.78695...","[4415.94448199395, 4030.78765856771, 5914.7941...","[398.165482044361, 1297.6023691962, 440.356761..."

In [11]:
df.columns

Index(['Building', 'name:en', 'building', 'building:levels',
       'building:materials', 'addr:full', 'addr:housenumber', 'addr:street',
       'addr:city', 'office', 'source', 'name:ja', 'osm_id', 'osm_type',
       'ADM0_EN', 'ADM0_JA', 'ADM0_PCODE', 'ADM1_EN', 'ADM1_JA', 'ADM1_PCODE',
       'lon', 'lat', 'Civic', 'Fire', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Supermarket', 'Toilet', 'Transport'],
      dtype='object')

In [11]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [13]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [15]:
df.columns

Index(['Building', 'name:en', 'building', 'building:levels',
       'building:materials', 'addr:full', 'addr:housenumber', 'addr:street',
       'addr:city', 'office', 'source', 'name:ja', 'osm_id', 'osm_type',
       'ADM0_EN', 'ADM0_JA', 'ADM0_PCODE', 'ADM1_EN', 'ADM1_JA', 'ADM1_PCODE',
       'lon', 'lat', 'Civic', 'Fire', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Supermarket', 'Toilet', 'Transport',
       'Civic_nearby', 'Fire_nearby', 'Government_nearby', 'Hospital_nearby',
       'Public_nearby', 'School_nearby', 'Sports_nearby', 'Supermarket_nearby',
       'Toilet_nearby', 'Transport_nearby', 'Civic_Score', 'Fire_Score',
       'Government_Score', 'Hospital_Score', 'Public_Score', 'School_Score',
       'Sports_Score', 'Supermarket_Score', 'Toilet_Score', 'Transport_Score'],
      dtype='object')

In [16]:
df = df[['Building', 'lon', 'lat', 'Civic_Score', 'Fire_Score',
       'Government_Score', 'Hospital_Score', 'Public_Score', 'School_Score',
       'Sports_Score', 'Supermarket_Score', 'Toilet_Score', 'Transport_Score']]

In [17]:
df.to_csv('TokyoScoreRAW1.csv', index = False)

In [14]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 93.8 ms
Wall time: 104 ms

In [15]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 2min 56s
Wall time: 3min 5s

In [16]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,TokyoBuilding33,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.8106701178197, 1.32042139771388, 1.79642941...",[0.8864518080123059],"[1.5677658853346, 1.31402156541584, 1.48143199...","[1.5677658853346, 1.31402156541584, 1.48143199...",[],"[1.1458338316302399, 1.9349126510020498, 1.401...","[1.1458338316302399, 1.9349126510020498, 1.401...","[0.5576579721903421, 0.556855724717629, 0.4630...","[0.5576579721903421, 0.556855724717629, 0.4630...","[0.5576579721903421, 0.556855724717629, 0.4630..."
1,TokyoBuilding242,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.3400907856523498, 2.6414448161699298, 2.676...","[0.5627368564119319, 0.569812922731867]","[0.5627368564119319, 1.01766500243779, 1.73222...","[0.5627368564119319, 1.01766500243779, 1.73222...","[0.243500653769209, 0.259951615462991, 0.23742...","[0.243500653769209, 0.259951615462991, 0.23742...","[0.243500653769209, 0.259951615462991, 0.23742...","[0.172325843245248, 0.0583446403518437, 0.1703...","[0.172325843245248, 0.0583446403518437, 0.1703...","[0.172325843245248, 0.0583446403518437, 0.1703..."
2,TokyoBuilding262,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.36466903027689, 2.68153107983712, 2.6885685...","[0.591741237064577, 0.5988472766371621]","[0.591741237064577, 1.8104273383387899, 1.0534...","[0.591741237064577, 1.8104273383387899, 1.0534...","[0.288968837916389, 0.305202748289769, 0.28165...","[0.288968837916389, 0.305202748289769, 0.28165...","[0.288968837916389, 0.305202748289769, 0.28165...","[0.211427387723629, 0.10384059026924498, 0.208...","[0.211427387723629, 0.10384059026924498, 0.208...","[0.211427387723629, 0.10384059026924498, 0.208..."
3,TokyoBuilding266,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.40729361401434, 2.72586727636388, 2.7247516...","[0.635929747257173, 0.6430389389318081]","[0.635929747257173, 1.83211880352529, 1.098413...","[0.635929747257173, 1.83211880352529, 1.098413...","[0.324905051482481, 0.339400627245099, 0.31242...","[0.324905051482481, 0.339400627245099, 0.31242...","[0.324905051482481, 0.339400627245099, 0.31242...","[0.255800937098367, 0.142254528289409, 0.25345...","[0.255800937098367, 0.142254528289409, 0.25345...","[0.255800937098367, 0.142254528289409, 0.25345..."
4,TokyoBuilding267,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.4084168461040698, 2.72736479593202, 2.72548...","[0.637192925216881, 0.6443023763827931]","[0.637192925216881, 1.83222229638106, 1.099822...","[0.637192925216881, 1.83222229638106, 1.099822...","[0.326446130731255, 0.340924533383913, 0.31390...","[0.326446130731255, 0.340924533383913, 0.31390...","[0.326446130731255, 0.340924533383913, 0.31390...","[0.257290518173048, 0.14381382588572902, 0.254...","[0.257290518173048, 0.14381382588572902, 0.254...","[0.257290518173048, 0.14381382588572902, 0.254..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161783,TokyoBuilding1333450,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.423914694322774, 0.363412122060176, 0.10664...","[0.18925019350966799, 0.060105755986465295, 0....","[0.18925019350966799, 0.060105755986465295, 0....","[0.18925019350966799, 0.060105755986465295, 0....","[0.47184437143114, 0.436202628108713, 0.580511...","[0.47184437143114, 0.436202628108713, 0.580511...","[0.47184437143114, 0.436202628108713, 0.580511...","[0.0770687320701174, 0.07941529714795069, 0.09...","[0.0770687320701174, 0.07941529714795069, 0.09...","[0.0770687320701174, 0.07941529714795069, 0.09..."
161784,TokyoBuilding1333451,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.381082977818766, 0.37979505302294403, 0.117...","[0.23256951144793, 0.0935071182968994, 0.04477...","[0.23256951144793, 0.0935071182968994, 0.04477...","[0.23256951144793, 0.0935071182968994, 0.04477...","[0.48097758984646, 0.39564517468140104, 0.6221...","[0.48097758984646, 0.39564517468140104, 0.6221...","[0.48097758984646, 0.39564517468140104, 0.6221...","[0.050822580620158694, 0.0498602522703764, 0.0...","[0.050822580620158694, 0.0498602522703764, 0.0...","[0.050822580620158694, 0.0498602522703764, 0.0..."
161785,TokyoBuilding1333454,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.380096700277932, 0.382443753692447, 0.12165...","[0.23502339471405798, 0.09340811442036989, 0.0...","[0.23502339471405798, 0.09340811442036989, 0.0...","[0.23502339471405798, 0.09340811442036989, 0.0...","[0.47801261134562, 0.392464659346066, 0.622896...","[0.47801261134562, 0.392464659346066, 0.622896...","[0.47801261134562, 0.392464659346066, 0.622896...","[0.0468382724197351, 0.045819719139203, 0.0623...","[0.0468382724197351, 0.045819719139203, 0.0623...","[0.0468382724197351, 0.045819719139203, 0.0623..."
161786,TokyoBuilding1333455,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.41087815505585606, 0.40107114982643804, 0.1...","[0.221141320803938, 0.06078559443096811, 0.040...","[0.221141320803938, 0.06078559443096811, 0.040...","[0.221141320803938, 0.06078559443096811, 0.040...","[0.44087098963356003, 0.402038895139657, 0.591...","[0.44087098963356003, 0.402038895139657, 0.591...","[0.44087098963356003, 0.402038895139657, 0.591...","[0.03877192707043, 0.128820234564097, 0.043064...","[0.03877192707043, 0.128820234564097, 0.043064...","[0.03877192707043, 0.128820234564097, 0.043064..."
161787,TokyoBuilding1333456,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.41134762017455095, 0.399923226252641, 0.144...","[0.220091886819978, 0.0601949729525937, 0.0412...","[0.220091886819978, 0.0601949729525937, 0.0412...","[0.220091886819978, 0.0601949729525937, 0.0412...","[0.441594448199395, 0.403078765856771, 0.59147...","[0.441594448199395, 0.403078765856771, 0.59147...","[0.441594448199395, 0.403078765856771, 0.59147...","[0.0398165482044361, 0.12976023691962, 0.04403...","[0.0398165482044361, 0.12976023691962, 0.04403...","[0.0398165482044361, 0.12976023691962, 0.04403..."

In [17]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 3min 38s
Wall time: 3min 48s

In [18]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 2min 50s
Wall time: 3min 19s

In [19]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,TokyoBuilding33,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.44,0.11,18.38,43.38,0.00,16.82,41.82,2.30,22.30,47.30
1,TokyoBuilding242,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,0.87,19.37,44.37,2.96,22.15,47.15,4.19,24.19,49.19
2,TokyoBuilding262,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,39.21,0.81,19.22,44.22,2.77,21.98,46.98,4.14,24.14,49.14
3,TokyoBuilding266,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,38.99,0.72,19.03,44.03,2.64,21.84,46.84,4.08,24.08,49.08
4,TokyoBuilding267,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,38.98,0.72,19.03,44.03,2.63,21.83,46.83,4.08,24.08,49.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161783,TokyoBuilding1333450,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.67,4.30,24.30,49.30,2.62,22.62,47.62,4.49,24.49,49.49
161784,TokyoBuilding1333451,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.63,4.31,24.31,49.31,2.68,22.68,47.68,4.61,24.61,49.61
161785,TokyoBuilding1333454,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.63,4.29,24.29,49.29,2.69,22.69,47.69,4.62,24.62,49.62
161786,TokyoBuilding1333455,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.56,4.27,24.27,49.27,2.72,22.72,47.72,4.59,24.59,49.59
161787,TokyoBuilding1333456,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.57,4.27,24.27,49.27,2.72,22.72,47.72,4.59,24.59,49.59

In [26]:
df.columns[92]

IndexError: index 92 is out of bounds for axis 0 with size 92

In [27]:
# Vectorized scaling operation
df.iloc[:, 62:92] = df.iloc[:, 62:92].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [28]:
# Optimized approach
try:
    df.iloc[:, 62:92] = df.iloc[:, 62:92].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [29]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,TokyoBuilding33,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.71,0.23,7.44,8.73,0.00,6.81,8.41,4.64,8.93,9.47
1,TokyoBuilding242,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.89,1.85,7.84,8.93,6.30,8.97,9.49,8.45,9.69,9.85
2,TokyoBuilding262,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.87,1.72,7.78,8.90,5.89,8.90,9.45,8.35,9.67,9.84
3,TokyoBuilding266,NaN,house,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.82,1.53,7.70,8.86,5.62,8.84,9.42,8.23,9.65,9.82
4,TokyoBuilding267,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.82,1.53,7.70,8.86,5.60,8.84,9.42,8.23,9.65,9.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161783,TokyoBuilding1333450,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.76,9.13,9.83,9.92,5.57,9.16,9.58,9.05,9.81,9.91
161784,TokyoBuilding1333451,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.76,9.15,9.84,9.92,5.70,9.18,9.59,9.29,9.86,9.93
161785,TokyoBuilding1333454,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.76,9.11,9.83,9.92,5.72,9.19,9.60,9.31,9.86,9.93
161786,TokyoBuilding1333455,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.74,9.07,9.82,9.91,5.79,9.20,9.60,9.25,9.85,9.93
161787,TokyoBuilding1333456,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.74,9.07,9.82,9.91,5.79,9.20,9.60,9.25,9.85,9.93

In [30]:
df.to_csv('TokyoScoreRAW.csv', index = False)