In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('TokyoBuildings.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_23620\3313532280.py:1: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('TokyoBuildings.csv')

In [3]:
df['building'].value_counts()

yes            1174682
house           121180
apartments       35390
residential      13294
detached          4256
                ...
silo                 1
residence            1
water_tower          1
sport_hall           1
yes;roof             1
Name: building, Length: 116, dtype: int64

In [4]:
df

,name,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,osm_id,osm_type,ADM0_EN,ADM0_JA,ADM0_PCODE,ADM1_EN,ADM1_JA,ADM1_PCODE,lon,lat
0,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074272,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723294,35.697418
1,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074278,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.719891,35.697468
2,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074324,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.724303,35.697741
3,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074348,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723164,35.697448
4,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074402,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723942,35.697487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373299,Show Court,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10739767,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.789002,35.635103
1373300,デンマーク大使館,Royal Danish Embassy,yes,NaN,NaN,NaN,NaN,NaN,NaN,diplomatic,...,6852122,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.699809,35.648369
1373301,東京都現代美術館,Museum of Contemporary Art Tokyo,yes,NaN,NaN,NaN,1,美術館通り,江東区,NaN,...,12077221,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.808348,35.679743
1373302,NaN,NaN,yes,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14752780,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.458681,35.753239
1373303,NaN,NaN,school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9167985,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.438654,35.589136

In [5]:
df['name'] = df.index.map(lambda i: f'TokyoBuilding{i}')

In [6]:
df

,name,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,osm_id,osm_type,ADM0_EN,ADM0_JA,ADM0_PCODE,ADM1_EN,ADM1_JA,ADM1_PCODE,lon,lat
0,TokyoBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074272,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723294,35.697418
1,TokyoBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074278,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.719891,35.697468
2,TokyoBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074324,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.724303,35.697741
3,TokyoBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074348,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723164,35.697448
4,TokyoBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252074402,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.723942,35.697487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373299,TokyoBuilding1373299,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10739767,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.789002,35.635103
1373300,TokyoBuilding1373300,Royal Danish Embassy,yes,NaN,NaN,NaN,NaN,NaN,NaN,diplomatic,...,6852122,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.699809,35.648369
1373301,TokyoBuilding1373301,Museum of Contemporary Art Tokyo,yes,NaN,NaN,NaN,1,美術館通り,江東区,NaN,...,12077221,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.808348,35.679743
1373302,TokyoBuilding1373302,NaN,yes,3,NaN,NaN,NaN,NaN,NaN,NaN,...,14752780,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.458681,35.753239
1373303,TokyoBuilding1373303,NaN,school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9167985,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.438654,35.589136

In [7]:
house = ['apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [9]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [10]:
df_building.to_csv('TokyoBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [12]:
df_public

,name,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,osm_id,osm_type,ADM0_EN,ADM0_JA,ADM0_PCODE,ADM1_EN,ADM1_JA,ADM1_PCODE,lon,lat
369,TokyoBuilding369,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,384470464,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.275541,35.791181
987,TokyoBuilding987,NaN,public,2.0,NaN,NaN,NaN,NaN,青梅市,NaN,...,1050648647,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.290862,35.796654
15129,TokyoBuilding15129,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,772366161,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.641110,35.670903
15956,TokyoBuilding15956,NaN,public,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,860722288,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.649792,35.656393
15958,TokyoBuilding15958,NaN,public,5.0,NaN,NaN,10,NaN,世田谷区,NaN,...,860701756,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.649918,35.657511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368681,TokyoBuilding1368681,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,978041952,ways_poly,Japan,日本,JP,Tokyo,東京都,JP13,139.411417,35.586805
1372654,TokyoBuilding1372654,NaN,public,2,NaN,NaN,NaN,NaN,NaN,NaN,...,10180023,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.558068,35.685250
1372899,TokyoBuilding1372899,Patent Office General Building,public,NaN,NaN,NaN,3,NaN,千代田区,NaN,...,11647869,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.745734,35.670988
1373112,TokyoBuilding1373112,Japan Meteorological Agency,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4251479,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.761606,35.689701
1373290,TokyoBuilding1373290,Honkan (Japanese Gallery),public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2737745,relations,Japan,日本,JP,Tokyo,東京都,JP13,139.776466,35.718871