In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
from numpy import cos, sin, arcsin, sqrt
from ast import literal_eval
from tqdm import tqdm
import requests
import json
import networkx as nx
import osmnx as ox
import requests
from geopy import Point
from geopy.distance import geodesic
import numpy as np

In [2]:
df_building = pd.read_csv('KarachiBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [ ]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [13]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,validTo,lon,lat,Civic,Government,Hospital,Public,School,Sports,Transport
0,KarachiBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.976520,24.870707,"[7972.29689031498, 20179.1967479429]",[11306.7276813427],"[3486.12060561481, 3611.94816442489, 3629.6358...","[10183.9515190166, 9840.99436345746, 10268.126...","[3391.88653459914, 2903.35527767818, 3597.7331...","[3400.3897145664, 3375.76689083984, 3437.06399...","[5285.17016848326, 18744.648376244]"
1,KarachiBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.994912,24.860076,"[5915.02315167402, 18424.4700962544]",[9829.18128908031],"[1374.90930376915, 1547.54314497456, 1559.5090...","[8942.74160667676, 7810.61616788402, 9029.7668...","[1242.66051899253, 882.395920329562, 1412.6299...","[1385.41355225019, 1391.18552851967, 1456.2127...","[3104.50583606515, 17170.5523704979]"
2,KarachiBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.992142,24.865603,"[6581.154605084, 18641.389480253]",[9905.10563272446],"[1812.49796128722, 1935.12465524442, 1952.9846...","[8916.81603674128, 8478.59370661188, 9003.0865...","[1728.88187075556, 1549.1031951736, 2051.55808...","[1725.32671843065, 1703.59494197652, 1766.0219...","[3733.33295034868, 17301.3291406938]"
3,KarachiBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.998488,24.869432,"[6639.41547512418, 17970.598895741]",[9173.87913435184],"[1550.66489642535, 1591.32609868776, 1598.3932...","[8157.89999333003, 8540.50954880864, 8243.9702...","[1547.62837005023, 1202.21984320791, 1243.5932...","[1357.81052081297, 1308.39894857154, 1357.0040...","[3677.39150315219, 16586.762700924]"
4,KarachiBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.998157,24.869155,"[6626.55968518998, 18005.9891227758]",[9214.09503635475],"[1549.74062681437, 1596.49769232582, 1604.3990...","[8200.92885212095, 8527.97808411883, 8287.0245...","[1541.24847584366, 1865.58285370105, 1156.8300...","[1363.35592287183, 1315.75712395374, 1365.7911...","[3669.1830357577, 16625.6421173862]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74097,KarachiBuilding76227,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.108294,24.826043,"[8292.87711522763, 9051.87360045955]",[7473.8542988249],"[1014.50538965365, 1012.08954790943, 1021.3820...","[8871.30654708676, 7856.14423080518, 8886.7355...","[319.68271192645, 371.123008721522, 740.344612...","[8089.4132351224, 8223.71800590912, 5410.33725...","[9320.08571005821, 9569.01678287017]"
74098,KarachiBuilding76228,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.108408,24.826061,"[8304.67543530495, 9041.74946935397]",[7475.3635257747],"[1014.49988906796, 1011.78045048258, 1021.9841...","[8874.19965172853, 7867.72160205799, 8889.4400...","[323.477530001091, 377.149265110445, 730.14895...","[8091.31802009297, 8230.01035624101, 5403.0573...","[9331.15235618751, 9561.01468424156]"
74099,KarachiBuilding76229,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.108272,24.826160,"[8292.59072246491, 9044.99548938566]",[7460.81535500963],"[1027.66782216539, 1025.24204572445, 1034.5385...","[8858.57699796133, 7858.86440214571, 8873.9525...","[332.284489053718, 382.656199192679, 746.90110...","[8076.44331143827, 8212.65329236866, 5420.6130...","[9315.63983452646, 9559.25299987652]"
74100,KarachiBuilding76230,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.108388,24.826178,"[8304.46627277549, 9034.8567054941]",[7462.44449262341],"[1027.55587116632, 1024.82855931152, 1035.0302...","[8861.59765002446, 7870.48843800784, 8876.7835...","[335.863141703998, 388.45146259365, 736.679360...","[8078.47032858134, 8219.08517920389, 5413.2166...","[9326.81825109579, 9551.27296448967]"
74101,KarachiBuilding76231,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,67.108372,24.826250,"[8304.02054820433, 9030.83150991457]",[7454.32168283926],"[1035.72084448945, 1032.99690389673, 1043.1728...","[8853.63540220468, 7871.91060763968, 8868.7923...","[343.5321121356, 395.41391376612, 741.12822162...","[8070.38133872368, 8212.08042844465, 5419.7776...","[9323.81007895526, 9545.40426554307]"

In [14]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_ur', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area',
       'ADM2_EN', 'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN',
       'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn',
       'validTo', 'lon', 'lat', 'Civic', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Transport'],
      dtype='object')

In [10]:
df[['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']] = df[['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [11]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [13]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,School_nearby,Sports_nearby,Transport_nearby,Civic_Score,Government_Score,Hospital_Score,Public_Score,School_Score,Sports_Score,Transport_Score
0,KarachiBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.66, 0.71, 0.64, 0.84, 0.84]","[1.16, 1.16, 1.16, 1.24, 1.23]","[1.47, 0.13]",4.67,8.22,9.34,4.99,7.39,7.99,6.56
1,KarachiBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.88, 0.91, 0.86, 0.94, 0.94]","[1.36, 1.36, 1.35, 1.39, 1.39]","[1.69, 0.28]",6.07,8.46,9.73,5.70,9.08,9.19,8.07
2,KarachiBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.83, 0.85, 0.79, 0.95, 0.95]","[1.33, 1.33, 1.32, 1.34, 1.33]","[1.63, 0.27]",5.60,8.44,9.65,5.63,8.76,8.93,7.79
3,KarachiBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.85, 0.88, 0.88, 0.82, 0.82]","[1.36, 1.37, 1.36, 1.36, 1.28]","[1.63, 0.34]",5.60,8.56,9.71,5.95,8.52,9.03,8.07
4,KarachiBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.85, 0.81, 0.88, 0.88, 0.82]","[1.36, 1.37, 1.36, 1.36, 1.29]","[1.63, 0.34]",5.60,8.56,9.72,5.93,8.50,9.05,8.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74097,KarachiBuilding76227,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.97, 0.96, 0.93, 0.93, 0.92]","[0.69, 0.68, 0.96, 0.68, 0.69]","[1.07, 1.04]",8.40,8.83,9.84,5.73,9.44,4.97,8.65
74098,KarachiBuilding76228,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.97, 0.96, 0.93, 0.93, 0.93]","[0.69, 0.68, 0.96, 0.68, 0.69]","[1.07, 1.04]",8.47,8.83,9.84,5.73,9.46,4.97,8.65
74099,KarachiBuilding76229,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.97, 0.96, 0.93, 0.93, 0.92]","[0.69, 0.68, 0.96, 0.68, 0.69]","[1.07, 1.04]",8.47,8.83,9.84,5.73,9.44,4.97,8.65
74100,KarachiBuilding76230,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.97, 0.96, 0.93, 0.93, 0.92]","[0.69, 0.68, 0.96, 0.68, 0.69]","[1.07, 1.04]",8.47,8.83,9.84,5.73,9.44,4.97,8.65
74101,KarachiBuilding76231,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.97, 0.96, 0.93, 0.93, 0.92]","[0.69, 0.68, 0.96, 0.68, 0.69]","[1.07, 1.05]",8.47,8.83,9.84,5.73,9.44,4.97,8.69

In [15]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_ur', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area',
       'ADM2_EN', 'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN',
       'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn',
       'validTo', 'lon', 'lat', 'Civic', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Transport', 'Civic_nearby', 'Government_nearby',
       'Hospital_nearby', 'Public_nearby', 'School_nearby', 'Sports_nearby',
       'Transport_nearby', 'Civic_Score', 'Government_Score', 'Hospital_Score',
       'Public_Score', 'School_Score', 'Sports_Score', 'Transport_Score'],
      dtype='object')

In [16]:
df = df[['Building', 'lon', 'lat', 'Civic', 'Civic_Score', 'Government_Score', 'Hospital_Score',
       'Public_Score', 'School_Score', 'Sports_Score', 'Transport_Score']]

In [17]:
df.to_csv('KarachiScoreRAW1.csv', index = False)

In [16]:
%%time
columns = ['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 46.9 ms
Wall time: 50.9 ms

In [17]:
%%time
# Define columns
columns = ['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 1min 12s
Wall time: 1min 14s

In [18]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Public_10km,School_1km,School_5km,School_10km,Sports_1km,Sports_5km,Sports_10km,Transport_1km,Transport_5km,Transport_10km
0,KarachiBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.01839515190166, 0.9840994363457459, 1.02681...","[0.339188653459914, 0.29033552776781796, 0.359...","[0.339188653459914, 0.29033552776781796, 0.359...","[0.339188653459914, 0.29033552776781796, 0.359...","[0.34003897145664, 0.337576689083984, 0.343706...","[0.34003897145664, 0.337576689083984, 0.343706...","[0.34003897145664, 0.337576689083984, 0.343706...",[0.528517016848326],"[0.528517016848326, 1.8744648376244]","[0.528517016848326, 1.8744648376244]"
1,KarachiBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.894274160667676, 0.781061616788402, 0.90297...","[0.124266051899253, 0.0882395920329562, 0.1412...","[0.124266051899253, 0.0882395920329562, 0.1412...","[0.124266051899253, 0.0882395920329562, 0.1412...","[0.13854135522501898, 0.139118552851967, 0.145...","[0.13854135522501898, 0.139118552851967, 0.145...","[0.13854135522501898, 0.139118552851967, 0.145...",[0.310450583606515],"[0.310450583606515, 1.7170552370497898]","[0.310450583606515, 1.7170552370497898]"
2,KarachiBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.891681603674128, 0.847859370661188, 0.90030...","[0.172888187075556, 0.15491031951736, 0.205155...","[0.172888187075556, 0.15491031951736, 0.205155...","[0.172888187075556, 0.15491031951736, 0.205155...","[0.172532671843065, 0.170359494197652, 0.17660...","[0.172532671843065, 0.170359494197652, 0.17660...","[0.172532671843065, 0.170359494197652, 0.17660...",[0.37333329503486795],"[0.37333329503486795, 1.73013291406938]","[0.37333329503486795, 1.73013291406938]"
3,KarachiBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.815789999333003, 0.8540509548808641, 0.8243...","[0.154762837005023, 0.120221984320791, 0.12435...","[0.154762837005023, 0.120221984320791, 0.12435...","[0.154762837005023, 0.120221984320791, 0.12435...","[0.135781052081297, 0.130839894857154, 0.13570...","[0.135781052081297, 0.130839894857154, 0.13570...","[0.135781052081297, 0.130839894857154, 0.13570...",[0.36773915031521903],"[0.36773915031521903, 1.6586762700923998]","[0.36773915031521903, 1.6586762700923998]"
4,KarachiBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.8200928852120949, 0.8527978084118829, 0.828...","[0.15412484758436598, 0.186558285370105, 0.115...","[0.15412484758436598, 0.186558285370105, 0.115...","[0.15412484758436598, 0.186558285370105, 0.115...","[0.136335592287183, 0.131575712395374, 0.13657...","[0.136335592287183, 0.131575712395374, 0.13657...","[0.136335592287183, 0.131575712395374, 0.13657...",[0.36691830357577],"[0.36691830357577, 1.66256421173862]","[0.36691830357577, 1.66256421173862]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74097,KarachiBuilding76227,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.887130654708676, 0.785614423080518, 0.88867...","[0.031968271192645, 0.0371123008721522, 0.0740...","[0.031968271192645, 0.0371123008721522, 0.0740...","[0.031968271192645, 0.0371123008721522, 0.0740...","[0.80894132351224, 0.8223718005909121, 0.54103...","[0.80894132351224, 0.8223718005909121, 0.54103...","[0.80894132351224, 0.8223718005909121, 0.54103...","[0.932008571005821, 0.9569016782870171]","[0.932008571005821, 0.9569016782870171]","[0.932008571005821, 0.9569016782870171]"
74098,KarachiBuilding76228,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.8874199651728529, 0.786772160205799, 0.8889...","[0.0323477530001091, 0.0377149265110445, 0.073...","[0.0323477530001091, 0.0377149265110445, 0.073...","[0.0323477530001091, 0.0377149265110445, 0.073...","[0.809131802009297, 0.823001035624101, 0.54030...","[0.809131802009297, 0.823001035624101, 0.54030...","[0.809131802009297, 0.823001035624101, 0.54030...","[0.9331152356187509, 0.956101468424156]","[0.9331152356187509, 0.956101468424156]","[0.9331152356187509, 0.956101468424156]"
74099,KarachiBuilding76229,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.885857699796133, 0.785886440214571, 0.88739...","[0.0332284489053718, 0.038265619919267906, 0.0...","[0.0332284489053718, 0.038265619919267906, 0.0...","[0.0332284489053718, 0.038265619919267906, 0.0...","[0.807644331143827, 0.8212653292368659, 0.5420...","[0.807644331143827, 0.8212653292368659, 0.5420...","[0.807644331143827, 0.8212653292368659, 0.5420...","[0.931563983452646, 0.9559252999876521]","[0.931563983452646, 0.9559252999876521]","[0.931563983452646, 0.9559252999876521]"
74100,KarachiBuilding76230,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.886159765002446, 0.787048843800784, 0.88767...","[0.0335863141703998, 0.038845146259365, 0.0736...","[0.0335863141703998, 0.038845146259365, 0.0736...","[0.0335863141703998, 0.038845146259365, 0.0736...","[0.807847032858134, 0.821908517920389, 0.54132...","[0.807847032858134, 0.821908517920389, 0.54132...","[0.807847032858134, 0.821908517920389, 0.54132...","[0.9326818251095791, 0.955127296448967]","[0.9326818251095791, 0.955127296448967]","[0.9326818251095791, 0.955127296448967]"
74101,KarachiBuilding76231,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.885363540220468, 0.787191060763968, 0.88687...","[0.034353211213560005, 0.039541391376612, 0.07...","[0.034353211213560005, 0.039541391376612, 0.07...","[0.034353211213560005, 0.039541391376612, 0.07...","[0.807038133872368, 0.8212080428444649, 0.5419...","[0.807038133872368, 0.8212080428444649, 0.5419...","[0.807038133872368, 0.8212080428444649, 0.5419...","[0.9323810078955261, 0.9545404265543069]","[0.9323810078955261, 0.9545404265543069]","[0.9323810078955261, 0.9545404265543069]"

In [19]:
%%time
# Define columns
columns = ['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 1min
Wall time: 1min 1s

In [20]:
%%time
# Define columns
columns = ['Civic', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 1min 14s
Wall time: 1min 17s

In [21]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Public_10km_Score,School_1km_Score,School_5km_Score,School_10km_Score,Sports_1km_Score,Sports_5km_Score,Sports_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,KarachiBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.93,3.69,23.69,48.69,3.45,23.45,48.45,0.47,7.60,17.60
1,KarachiBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.63,4.53,24.53,49.53,4.35,24.35,49.35,0.69,7.97,17.97
2,KarachiBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.56,4.37,24.37,49.37,4.15,24.15,49.15,0.63,7.90,17.90
3,KarachiBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.87,4.25,24.25,49.25,4.23,24.23,49.23,0.63,7.97,17.97
4,KarachiBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.85,4.24,24.24,49.24,4.24,24.24,49.24,0.63,7.97,17.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74097,KarachiBuilding76227,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.66,4.71,24.71,49.71,1.20,21.20,46.20,0.11,8.11,18.11
74098,KarachiBuilding76228,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.66,4.72,24.72,49.72,1.20,21.20,46.20,0.11,8.11,18.11
74099,KarachiBuilding76229,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.66,4.71,24.71,49.71,1.20,21.20,46.20,0.11,8.11,18.11
74100,KarachiBuilding76230,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.66,4.71,24.71,49.71,1.20,21.20,46.20,0.11,8.11,18.11
74101,KarachiBuilding76231,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.66,4.71,24.71,49.71,1.20,21.20,46.20,0.12,8.12,18.12

In [33]:
df.columns[78]

'Transport_10km_Score'

In [34]:
# Vectorized scaling operation
df.iloc[:, 58:79] = df.iloc[:, 58:79].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [35]:
# Optimized approach
try:
    df.iloc[:, 58:79] = df.iloc[:, 58:79].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [36]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Public_10km_Score,School_1km_Score,School_5km_Score,School_10km_Score,Sports_1km_Score,Sports_5km_Score,Sports_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,KarachiBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.41,7.39,9.40,9.40,6.97,9.40,9.50,4.7,9.00,9.27
1,KarachiBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.63,9.08,9.79,9.79,8.79,9.76,9.80,6.9,9.44,9.59
2,KarachiBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.61,8.76,9.71,9.71,8.38,9.68,9.73,6.3,9.36,9.53
3,KarachiBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.71,8.52,9.66,9.66,8.55,9.71,9.76,6.3,9.44,9.59
4,KarachiBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.71,8.50,9.65,9.65,8.57,9.72,9.76,6.3,9.44,9.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74097,KarachiBuilding76227,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.64,9.44,9.87,9.87,2.42,8.50,8.75,1.1,9.61,9.71
74098,KarachiBuilding76228,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.64,9.46,9.87,9.87,2.42,8.50,8.75,1.1,9.61,9.71
74099,KarachiBuilding76229,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.64,9.44,9.87,9.87,2.42,8.50,8.75,1.1,9.61,9.71
74100,KarachiBuilding76230,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.64,9.44,9.87,9.87,2.42,8.50,8.75,1.1,9.61,9.71
74101,KarachiBuilding76231,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.64,9.44,9.87,9.87,2.42,8.50,8.75,1.2,9.62,9.72

In [37]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_ur', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area',
       'ADM2_EN', 'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN',
       'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn',
       'validTo', 'lon', 'lat', 'Civic', 'Government', 'Hospital', 'Public',
       'School', 'Sports', 'Transport', 'Civic_1km', 'Civic_5km', 'Civic_10km',
       'Government_1km', 'Government_5km', 'Government_10km', 'Hospital_1km',
       'Hospital_5km', 'Hospital_10km', 'Public_1km', 'Public_5km',
       'Public_10km', 'School_1km', 'School_5km', 'School_10km', 'Sports_1km',
       'Sports_5km', 'Sports_10km', 'Transport_1km', 'Transport_5km',
       'Transport_10km', 'Civic_1km_Score', 'Civic_5km_Score',
       'Civic_10km_Score', 'Government_1km_Score', 'Government_5km_Score',
       'Government_10km_Score', 'Hospital_1km_Score', 'Hospital_5km_Score',
       'Hospital_10km_Score', 'Public_1km_Score', 'Public_5km_Score',
       'Public_10km_Score', 'School_1km_Score', 'School_5km_Score',
       'School_10km_Score', 'Sports_1km_Score', 'Sports_5km_Score',
       'Sports_10km_Score', 'Transport_1km_Score', 'Transport_5km_Score',
       'Transport_10km_Score'],
      dtype='object')

In [38]:
df = df[['Building',  'lon', 'lat', 'Civic_1km_Score', 'Civic_5km_Score',
       'Civic_10km_Score', 'Government_1km_Score', 'Government_5km_Score',
       'Government_10km_Score', 'Hospital_1km_Score', 'Hospital_5km_Score',
       'Hospital_10km_Score', 'Public_1km_Score', 'Public_5km_Score',
       'Public_10km_Score', 'School_1km_Score', 'School_5km_Score',
       'School_10km_Score', 'Sports_1km_Score', 'Sports_5km_Score',
       'Sports_10km_Score', 'Transport_1km_Score', 'Transport_5km_Score',
       'Transport_10km_Score']]

In [39]:
df.to_csv('KarachiScoreRAW.csv', index = False)