In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
from numpy import cos, sin, arcsin, sqrt
from ast import literal_eval
from tqdm import tqdm
import requests
import json
import networkx as nx
import osmnx as ox
import requests
from geopy import Point
from geopy.distance import geodesic
import numpy as np

In [2]:
df_building = pd.read_csv('ManilaBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_fire = df_fire.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_supermarket = df_supermarket.groupby('InputID').agg(lambda x: list(x))
df_toilet = df_toilet.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_fire.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_supermarket.drop(columns=['TargetID'], inplace = True)
df_toilet.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [8]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

,InputID,Distance
0,ManilaBuilding0,"[1649.27799542546, 2341.00441127496, 2213.4874..."
1,ManilaBuilding1,"[1735.09398583005, 2255.25854299178, 2295.1078..."
2,ManilaBuilding10,"[1705.21643921844, 2285.37963214193, 2264.6788..."
3,ManilaBuilding100,"[1884.58732315193, 2131.59956767878, 1592.7331..."
4,ManilaBuilding1000,"[1675.3306759251, 1927.35815198369, 1788.89099..."
...,...,...
1132389,ManilaBuilding999995,"[5174.65293640118, 5567.66601821824, 5622.1495..."
1132390,ManilaBuilding999996,"[5151.79510567437, 5404.01806537091, 5748.2366..."
1132391,ManilaBuilding999997,"[5142.90938240996, 5507.79751250473, 5649.0705..."
1132392,ManilaBuilding999998,"[5189.99249263105, 5482.62908390876, 5710.6771..."
1132393,ManilaBuilding999999,"[5173.0535198176, 5348.69063107068, 5814.23039..."

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_fire, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_supermarket, on='Building', how = 'inner')
df = df.merge(df_toilet, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [10]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,ManilaBuilding0,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1790.43756738068, 1701.3178903719, 1610.20539...","[7806.46231812489, 7014.18107845823, 7016.6957...","[5420.39165664166, 1415.83209746172, 2760.8719...","[2522.40042349698, 2508.41472331101, 803.08724...","[513.717470023398, 476.708806553484, 449.76532...","[467.508801257298, 393.013269147495, 458.47596...","[4669.26851889521, 5812.27314635649, 4004.2834...","[5568.90993407219, 3235.71634675076, 3536.4160...","[9373.91238689644, 7308.10781468552, 5587.5791...","[1649.27799542546, 2341.00441127496, 2213.4874..."
1,ManilaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1847.3529738253, 1801.55750498647, 1519.66391...","[7748.04939322658, 6956.24170003884, 6958.6155...","[5320.42368669766, 1508.10570320595, 2700.3909...","[2457.53736305695, 2443.27705491945, 872.81790...","[566.063967458436, 575.708384664004, 411.61530...","[436.38874428212, 473.689431694125, 479.454983...","[4607.94281537706, 5712.23913517917, 4099.2115...","[5523.7421355034, 3157.84966283087, 3568.95628...","[9470.30979896344, 7400.43615848219, 5667.7156...","[1735.09398583005, 2255.25854299178, 2295.1078..."
2,ManilaBuilding2,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1805.53559529757, 1758.81787711443, 1566.9817...","[7789.82115623963, 6997.87400008192, 7000.2865...","[5360.99814394942, 1460.92353772468, 2708.7511...","[2500.83526930093, 2486.6423725475, 857.862809...","[575.331682423545, 537.575518948632, 445.01362...","[434.692386136149, 502.037628530283, 477.02735...","[4650.43997338261, 5755.9650668371, 4065.97088...","[5561.54499688671, 3177.24351736908, 3574.9254...","[9423.81303440879, 7353.21994946009, 5646.5483...","[1709.67996388651, 2280.37267647692, 2272.8003..."
3,ManilaBuilding3,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1883.75962793644, 1813.37287588011, 1494.0478...","[7711.57560314151, 6919.68593281128, 6922.0820...","[5313.05832450552, 1532.24798946372, 2724.4401...","[2422.12439466347, 2407.92083192394, 855.41760...","[533.444693870456, 581.950424611212, 372.87886...","[479.267571446031, 447.962558780627, 411.17196...","[4571.92782041212, 5699.29698755983, 4097.4513...","[5485.67254543725, 3173.76150092806, 3537.4484...","[9490.66198103744, 7424.61508233847, 5653.9802...","[1725.74268124827, 2266.36464147512, 2282.7333..."
4,ManilaBuilding4,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1980.16325500024, 1733.27096610225, 1529.0098...","[7658.15873542017, 6865.48672527025, 6868.1474...","[5417.2942337997, 1509.12910756643, 2885.69651...","[2383.97072052945, 2370.37323208279, 700.10438...","[381.695290933741, 496.023704775006, 298.22236...","[318.386424897855, 359.142495337904, 249.93896...","[4524.84488531784, 5784.07331902484, 3970.3737...","[5409.44811372263, 3329.75736976153, 3381.6269...","[9440.55069208497, 7393.81554424594, 5501.7932...","[1582.76567694062, 2133.4650037928, 2370.67989..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771070,ManilaBuilding778346,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1064.37028956386, 1083.10623200521, 1068.5241...","[10086.4370069755, 9535.89679362612, 9529.2138...","[3299.00498922969, 4201.54792718751, 6335.7717...","[1553.89172759956, 959.922418779363, 1697.0592...","[1660.35586125639, 1846.25846684911, 1586.3902...","[564.407037419006, 526.703796127411, 547.85789...","[7221.14840512667, 7281.71281186445, 4116.3285...","[9188.66186957437, 3513.59869183808, 7208.7248...","[14658.5399254141, 12358.3654641856, 12306.806...","[2313.97258318591, 639.952354938384, 3196.5399..."
771071,ManilaBuilding778347,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1079.612387536, 907.142776628558, 891.6215994...","[10015.8196012528, 9454.32783199536, 9447.8487...","[3240.05346145163, 3999.03671961109, 6483.6619...","[1745.94427165429, 877.094554469529, 1570.3990...","[1462.44587790327, 1984.33002185898, 1459.5861...","[445.761620450943, 391.109934734206, 417.25588...","[7221.78912475941, 7275.85509169629, 4077.7209...","[9074.99923321683, 3316.10082061846, 7304.2084...","[14458.1863733201, 12158.333509504, 12115.7324...","[2153.86289833227, 468.642736447068, 3211.3352..."
771072,ManilaBuilding778349,NaN,yes,NaN,NaN,NaN,NaN,NaN,Taguig,NaN,...,"[925.44879561439, 1255.56089190962, 1409.83022...","[10627.7459831331, 10099.2402345672, 10092.177...","[3839.73520010255, 4817.45974338212, 6206.3043...","[1263.98058008196, 1151.32121630328, 2347.5077...","[1711.53616806491, 1489.43314690876, 1868.1195...","[301.8573647804, 332.311252649382, 316.4798646...","[7602.20149358185, 7679.52405048902, 4608.9457...","[4158.24200356108, 9076.91552429483, 7292.8093...","[15161.7525576742, 12859.2782524437, 12965.741...","[2636.13784565795, 1310.8091477506, 3574.74116..."
771073,ManilaBuilding778350,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[2231.67737432954, 2095.0255801688, 2148.26131...","[9336.10560021399, 8864.45012252711, 8856.4308...","[2678.29516888433, 5015.91331056634, 4954.9492...","[911.975998607164, 1609.27985005445, 2379.4332...","[1456.45537561831, 2242.94853170408, 2096.8923...","[749.31466667277, 1035.37833986392, 987.288272...","[6102.53411927986, 6193.35818261421, 3294.9356...","[4214.16952844488, 8507.78559730182, 5799.4543...","[15685.8467167488, 13398.8130628627, 12715.641...","[1621.55151461035, 2118.86806365848, 3468.4060..."
771074,ManilaBuilding778351,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[972.640450787221, 1215.59242605114, 217.18450...","[5042.53960887237, 4567.07220012206, 4558.8155...","[1794.82754040688, 4865.13716190283, 1157.7291...","[1846.86984904549, 1915.04564929784, 1731.3626...","[503.66903145479, 39.5609736242161, 411.506706...","[137.335837266502, 149.993000132307, 144.86067...","[2668.8761046302, 2613.15158374307, 3507.74617...","[4663.81351757773, 4524.41585652967, 4919.4364...","[15074.0522593118, 12969.3764219476, 10183.817...","[1941.58909158336, 1838.88213696096, 1825.6311..."

In [11]:
df.columns

Index(['Building', 'name:en', 'building', 'building:levels',
       'building:materials', 'addr:full', 'addr:housenumber', 'addr:street',
       'addr:city', 'office', 'source', 'name:fil', 'osm_id', 'osm_type',
       'ADM2_EN', 'ADM2_PCODE', 'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN',
       'ADM0_PCODE', 'date', 'validOn', 'validTo', 'Shape_Leng', 'Shape_Area',
       'ADM2ALT1EN', 'AREA_SQKM', 'lon', 'lat', 'Civic', 'Fire', 'Government',
       'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet',
       'Transport'],
      dtype='object')

In [12]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [13]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [14]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 328 ms
Wall time: 345 ms

In [15]:
%%time
# Define columns
#columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']
columns = ['Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 1min 23s
Wall time: 1min 34s

In [16]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,ManilaBuilding0,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.164927799542546, 0.234100441127496, 0.22134...","[0.164927799542546, 0.234100441127496, 0.22134...","[0.164927799542546, 0.234100441127496, 0.22134..."
1,ManilaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.17350939858300501, 0.22552585429917799, 0.2...","[0.17350939858300501, 0.22552585429917799, 0.2...","[0.17350939858300501, 0.22552585429917799, 0.2..."
2,ManilaBuilding2,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.170967996388651, 0.228037267647692, 0.22728...","[0.170967996388651, 0.228037267647692, 0.22728...","[0.170967996388651, 0.228037267647692, 0.22728..."
3,ManilaBuilding3,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.17257426812482698, 0.226636464147512, 0.228...","[0.17257426812482698, 0.226636464147512, 0.228...","[0.17257426812482698, 0.226636464147512, 0.228..."
4,ManilaBuilding4,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.158276567694062, 0.21334650037928, 0.237067...","[0.158276567694062, 0.21334650037928, 0.237067...","[0.158276567694062, 0.21334650037928, 0.237067..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771070,ManilaBuilding778346,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.231397258318591, 0.0639952354938384, 0.3196...","[0.231397258318591, 0.0639952354938384, 0.3196...","[0.231397258318591, 0.0639952354938384, 0.3196..."
771071,ManilaBuilding778347,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.21538628983322702, 0.0468642736447068, 0.32...","[0.21538628983322702, 0.0468642736447068, 0.32...","[0.21538628983322702, 0.0468642736447068, 0.32..."
771072,ManilaBuilding778349,NaN,yes,NaN,NaN,NaN,NaN,NaN,Taguig,NaN,...,None,None,None,None,None,None,None,"[0.263613784565795, 0.13108091477506, 0.357474...","[0.263613784565795, 0.13108091477506, 0.357474...","[0.263613784565795, 0.13108091477506, 0.357474..."
771073,ManilaBuilding778350,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.162155151461035, 0.211886806365848, 0.34684...","[0.162155151461035, 0.211886806365848, 0.34684...","[0.162155151461035, 0.211886806365848, 0.34684..."
771074,ManilaBuilding778351,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,"[0.194158909158336, 0.183888213696096, 0.18256...","[0.194158909158336, 0.183888213696096, 0.18256...","[0.194158909158336, 0.183888213696096, 0.18256..."

In [17]:
%%time
# Define columns
#columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']
columns = ['Transport']
# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 39.2 s
Wall time: 39.3 s

In [18]:
%%time
# Define columns
#columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']
columns = ['Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 1min 35s
Wall time: 1min 51s

In [19]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,ManilaBuilding0,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.77, 0.78, 0.75, 0.81]","[4.84, 4.77, 4.78, 4.75, 4.81]","[9.84, 9.77, 9.78, 9.75, 9.81]",3.95,23.95,48.95
1,ManilaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.8]","[4.83, 4.77, 4.77, 4.75, 4.8]","[9.83, 9.77, 9.77, 9.75, 9.8]",3.92,23.92,48.92
2,ManilaBuilding2,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.81]","[4.83, 4.77, 4.77, 4.75, 4.81]","[9.83, 9.77, 9.77, 9.75, 9.81]",3.93,23.93,48.93
3,ManilaBuilding3,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.81]","[4.83, 4.77, 4.77, 4.75, 4.81]","[9.83, 9.77, 9.77, 9.75, 9.81]",3.93,23.93,48.93
4,ManilaBuilding4,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.79, 0.76, 0.77, 0.82]","[4.84, 4.79, 4.76, 4.77, 4.82]","[9.84, 9.79, 9.76, 9.77, 9.82]",3.98,23.98,48.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771070,ManilaBuilding778346,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.77, 0.94, 0.68, 0.72, 0.7]","[4.77, 4.94, 4.68, 4.72, 4.7]","[9.77, 9.94, 9.68, 9.72, 9.7]",3.81,23.81,48.81
771071,ManilaBuilding778347,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.78, 0.95, 0.68, 0.73, 0.71]","[4.78, 4.95, 4.68, 4.73, 4.71]","[9.78, 9.95, 9.68, 9.73, 9.71]",3.85,23.85,48.85
771072,ManilaBuilding778349,NaN,yes,NaN,NaN,NaN,NaN,NaN,Taguig,NaN,...,None,None,None,None,"[0.74, 0.87, 0.64, 0.67, 0.63]","[4.74, 4.87, 4.64, 4.67, 4.63]","[9.74, 9.87, 9.64, 9.67, 9.63]",3.55,23.55,48.55
771073,ManilaBuilding778350,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.79, 0.65, 0.79, 0.67]","[4.84, 4.79, 4.65, 4.79, 4.67]","[9.84, 9.79, 9.65, 9.79, 9.67]",3.74,23.74,48.74
771074,ManilaBuilding778351,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.81, 0.82, 0.82, 0.91, 0.86]","[4.81, 4.82, 4.82, 4.91, 4.86]","[9.81, 9.82, 9.82, 9.91, 9.86]",4.22,24.22,49.22

In [24]:
df.columns[72]

IndexError: index 72 is out of bounds for axis 0 with size 72

In [25]:
# Vectorized scaling operation
df.iloc[:, 69:72] = df.iloc[:, 69:72].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [26]:
# Optimized approach
try:
    df.iloc[:, 69:72] = df.iloc[:, 69:72].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [27]:
df

,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,office,...,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,ManilaBuilding0,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.77, 0.78, 0.75, 0.81]","[4.84, 4.77, 4.78, 4.75, 4.81]","[9.84, 9.77, 9.78, 9.75, 9.81]",8.06,8.78,8.78
1,ManilaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.8]","[4.83, 4.77, 4.77, 4.75, 4.8]","[9.83, 9.77, 9.77, 9.75, 9.8]",8.00,8.74,8.74
2,ManilaBuilding2,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.81]","[4.83, 4.77, 4.77, 4.75, 4.81]","[9.83, 9.77, 9.77, 9.75, 9.81]",8.02,8.75,8.75
3,ManilaBuilding3,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.83, 0.77, 0.77, 0.75, 0.81]","[4.83, 4.77, 4.77, 4.75, 4.81]","[9.83, 9.77, 9.77, 9.75, 9.81]",8.02,8.75,8.75
4,ManilaBuilding4,NaN,house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.79, 0.76, 0.77, 0.82]","[4.84, 4.79, 4.76, 4.77, 4.82]","[9.84, 9.79, 9.76, 9.77, 9.82]",8.12,8.81,8.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771070,ManilaBuilding778346,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.77, 0.94, 0.68, 0.72, 0.7]","[4.77, 4.94, 4.68, 4.72, 4.7]","[9.77, 9.94, 9.68, 9.72, 9.7]",7.78,8.60,8.60
771071,ManilaBuilding778347,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.78, 0.95, 0.68, 0.73, 0.71]","[4.78, 4.95, 4.68, 4.73, 4.71]","[9.78, 9.95, 9.68, 9.73, 9.71]",7.86,8.65,8.65
771072,ManilaBuilding778349,NaN,yes,NaN,NaN,NaN,NaN,NaN,Taguig,NaN,...,None,None,None,None,"[0.74, 0.87, 0.64, 0.67, 0.63]","[4.74, 4.87, 4.64, 4.67, 4.63]","[9.74, 9.87, 9.64, 9.67, 9.63]",7.24,8.26,8.26
771073,ManilaBuilding778350,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.84, 0.79, 0.65, 0.79, 0.67]","[4.84, 4.79, 4.65, 4.79, 4.67]","[9.84, 9.79, 9.65, 9.79, 9.67]",7.63,8.51,8.51
771074,ManilaBuilding778351,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,"[0.81, 0.82, 0.82, 0.91, 0.86]","[4.81, 4.82, 4.82, 4.91, 4.86]","[9.81, 9.82, 9.82, 9.91, 9.86]",8.61,9.12,9.12

In [28]:
df.columns

Index(['Building', 'name:en', 'building', 'building:levels',
       'building:materials', 'addr:full', 'addr:housenumber', 'addr:street',
       'addr:city', 'office', 'source', 'name:fil', 'osm_id', 'osm_type',
       'ADM2_EN', 'ADM2_PCODE', 'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN',
       'ADM0_PCODE', 'date', 'validOn', 'validTo', 'Shape_Leng', 'Shape_Area',
       'ADM2ALT1EN', 'AREA_SQKM', 'lon', 'lat', 'Civic', 'Fire', 'Government',
       'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet',
       'Transport', 'Civic_1km', 'Civic_5km', 'Civic_10km', 'Fire_1km',
       'Fire_5km', 'Fire_10km', 'Government_1km', 'Government_5km',
       'Government_10km', 'Hospital_1km', 'Hospital_5km', 'Hospital_10km',
       'Public_1km', 'Public_5km', 'Public_10km', 'School_1km', 'School_5km',
       'School_10km', 'Sports_1km', 'Sports_5km', 'Sports_10km',
       'Supermarket_1km', 'Supermarket_5km', 'Supermarket_10km', 'Toilet_1km',
       'Toilet_5km', 'Toilet_10km', 'Transport_1km', 'Transport_5km',
       'Transport_10km', 'Transport_1km_Score', 'Transport_5km_Score',
       'Transport_10km_Score'],
      dtype='object')

In [33]:
df = df[['Building', 'lon', 'lat', 'Civic_1km_Score', 'Civic_5km_Score',
       'Civic_10km_Score', 'Fire_1km_Score', 'Fire_5km_Score',
       'Fire_10km_Score', 'Government_1km_Score', 'Government_5km_Score',
       'Government_10km_Score', 'Hospital_1km_Score', 'Hospital_5km_Score',
       'Hospital_10km_Score', 'Public_1km_Score', 'Public_5km_Score',
       'Public_10km_Score', 'School_1km_Score', 'School_5km_Score',
       'School_10km_Score', 'Sports_1km_Score', 'Sports_5km_Score',
       'Sports_10km_Score', 'Supermarket_1km_Score', 'Supermarket_5km_Score',
       'Supermarket_10km_Score', 'Toilet_1km_Score', 'Toilet_5km_Score',
       'Toilet_10km_Score', 'Transport_1km_Score', 'Transport_5km_Score',
       'Transport_10km_Score']]

In [36]:
df.to_csv('ManilaScoreRAW.csv', index = False)

In [29]:
df1 = pd.read_csv('ManilaScoreRAW.csv')

In [32]:
df1['Transport_10km_Score'] = None

In [34]:
df1['Transport_10km_Score'] = df['Transport_10km_Score']

In [35]:
df1

,Building,lon,lat,Civic_1km_Score,Civic_5km_Score,Civic_10km_Score,Fire_1km_Score,Fire_5km_Score,Fire_10km_Score,Government_1km_Score,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,ManilaBuilding0,121.054572,14.602854,7.59,7.59,7.59,3.62,8.04,8.04,5.90,...,7.44,8.48,9.17,9.17,8.92,9.80,9.80,8.06,8.78,8.78
1,ManilaBuilding1,121.054084,14.602082,7.56,7.56,7.56,3.65,8.05,8.05,5.92,...,7.46,8.53,9.20,9.20,8.87,9.79,9.79,8.00,8.74,8.74
2,ManilaBuilding2,121.054458,14.602308,7.56,7.56,7.56,3.60,8.04,8.04,5.88,...,7.43,8.51,9.18,9.18,8.96,9.81,9.81,8.02,8.75,8.75
3,ManilaBuilding3,121.053739,14.602178,7.53,7.53,7.53,3.72,8.07,8.07,5.90,...,7.46,8.56,9.21,9.21,8.87,9.79,9.79,8.02,8.75,8.75
4,ManilaBuilding4,121.053136,14.603513,7.59,7.59,7.59,3.75,8.08,8.08,5.84,...,7.49,8.59,9.23,9.23,8.83,9.78,9.78,8.12,8.81,8.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771070,ManilaBuilding778346,121.056636,14.542100,8.47,8.47,8.47,0.30,6.84,6.84,6.36,...,7.58,4.77,7.13,7.13,5.89,8.49,8.49,7.78,8.60,8.60
771071,ManilaBuilding778347,121.057178,14.543866,8.53,8.53,8.53,0.32,6.87,6.87,6.36,...,7.55,4.91,7.21,7.21,6.06,8.57,8.57,7.86,8.65,8.65
771072,ManilaBuilding778349,121.058261,14.536239,8.35,8.35,8.35,0.00,6.61,6.61,6.00,...,7.43,4.22,6.83,6.83,5.32,8.25,8.25,7.24,8.26,8.26
771073,ManilaBuilding778350,121.044039,14.538308,7.38,7.38,7.38,0.97,7.03,7.03,6.72,...,8.26,5.32,7.43,7.43,5.37,8.20,8.20,7.63,8.51,8.51
771074,ManilaBuilding778351,121.016821,14.566733,8.71,8.71,8.71,5.29,8.55,8.55,6.58,...,8.92,8.36,9.10,9.10,4.98,8.41,8.41,8.61,9.12,9.12