In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
from numpy import cos, sin, arcsin, sqrt
from ast import literal_eval
from tqdm import tqdm
import requests
import json
import networkx as nx
import osmnx as ox
import requests
from geopy import Point
from geopy.distance import geodesic
import numpy as np

In [2]:
df_building = pd.read_csv('IstanbulBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_fire = df_fire.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_supermarket = df_supermarket.groupby('InputID').agg(lambda x: list(x))
df_toilet = df_toilet.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_fire.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_supermarket.drop(columns=['TargetID'], inplace = True)
df_toilet.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [8]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

,InputID,Distance
0,IstanbulBuilding0,"[635.261039442742, 587.88351950614, 398.080163..."
1,IstanbulBuilding1,"[721.195093066016, 196.239079252915, 203.93087..."
2,IstanbulBuilding10,"[618.596525964286, 833.531524482347, 1914.1557..."
3,IstanbulBuilding100,"[474.861297684743, 2780.37009270421, 1390.3424..."
4,IstanbulBuilding1000,"[1591.88253780387, 1563.04331090258, 541.39412..."
...,...,...
594630,IstanbulBuilding99995,"[1404.8571341282, 1736.77605558707, 1811.35242..."
594631,IstanbulBuilding99996,"[1446.20428769677, 2288.53522122854, 2342.8897..."
594632,IstanbulBuilding99997,"[1489.18909737521, 2235.82159850062, 2288.4953..."
594633,IstanbulBuilding99998,"[1442.24467163801, 2403.55075282339, 1815.7381..."
594634,IstanbulBuilding99999,"[1444.98372156985, 2242.40760964614, 2296.2215..."

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_fire, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_supermarket, on='Building', how = 'inner')
df = df.merge(df_toilet, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [11]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,IstanbulBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[5142.90513566727, 2204.05449499053, 942.66960...",[12630.6250548564],"[265.008061624614, 798.687991485854, 398.45494...","[532.872335019584, 1711.91041900524, 1633.1512...","[334.223782590917, 1082.61890651731, 722.95967...","[440.047223464837, 95.5748590685273, 392.30415...","[1002.13684865337, 1070.01990063315, 1036.1185...","[19966.4862359231, 19989.1960509538, 16503.138...","[2296.58736834653, 24263.820923906, 21065.5804...","[635.261039442742, 587.88351950614, 398.080163..."
1,IstanbulBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[5318.41388541644, 2489.5430048923, 1209.07332...",[12783.4874813717],"[582.43838221902, 1065.94578773132, 306.556503...","[852.716725732261, 2031.64396538352, 1350.0596...","[171.726425463782, 1347.51014055265, 771.65630...","[758.097480910551, 410.000415519552, 582.85938...","[1201.20550208683, 1242.52580610666, 1208.2666...","[20132.3056237067, 20156.8921186994, 16453.395...","[2616.29746801393, 24221.9719411727, 20827.730...","[721.195093066016, 196.239079252915, 203.93087..."
2,IstanbulBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[5364.41379332222, 1479.53133141622, 194.20148...",[12870.9686544224],"[566.879069297286, 77.66207683595, 311.3248772...","[514.861123114354, 1316.88883563397, 1311.9354...","[914.653535114915, 979.875931867795, 98.326423...","[304.792223756657, 450.541042338742, 265.96280...","[316.010482586767, 434.649834970953, 411.57805...","[20161.7907569297, 20179.3735793746, 17130.430...","[1797.03667081676, 24876.6924256517, 21130.664...","[520.265689581308, 437.32159204288, 959.443184..."
3,IstanbulBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[5311.63829635009, 2419.27338273401, 1138.6577...",[12783.2494253463],"[518.835568383839, 995.531664737983, 266.94409...","[790.753937962783, 1971.69706262167, 1420.4355...","[138.185924256026, 1414.36397713912, 840.52839...","[700.587274098884, 346.681649624954, 513.80680...","[1133.85169483486, 1177.58540906788, 1143.2763...","[20129.0070680966, 20153.1127827301, 16496.067...","[2553.39722102633, 24263.379207507, 20850.6444...","[668.923563658238, 657.668594681302, 183.46490..."
4,IstanbulBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[3238.36455013936, 7563.36176847748, 5712.0747...",[5677.57656318287],"[1738.91719955921, 4667.60144865837, 7553.9568...","[1712.03621431289, 836.337045562986, 1721.1689...","[2361.30869550913, 2339.16279457851, 2835.6913...","[544.103720032261, 527.823220116309, 553.60682...","[3624.52322243564, 2433.26425391115, 3435.9576...","[12974.9559290269, 13044.5270183349, 13023.016...","[7567.34770162942, 17333.3654070128, 27589.199...","[517.525240373194, 727.236630893907, 1499.8140..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246332,IstanbulBuilding259781,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[424.717371999632, 1499.5479512655, 3965.84571...",[12470.0155683353],"[1626.49624570421, 1159.33322609724, 1994.3325...","[979.762952462191, 894.581597725917, 932.64004...","[2581.31870264479, 1295.56415420577, 683.20292...","[61.5500591147932, 79.7051975628483, 711.28050...","[1704.27267597839, 1776.09615058402, 1693.6160...","[19605.7447435161, 19612.1498185429, 17732.195...","[642.682314170713, 25400.1621300375, 22321.883...","[852.474399859055, 918.329988534318, 626.37911..."
246333,IstanbulBuilding259782,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[416.188424196078, 1475.7016700807, 3941.12590...",[12467.9908068325],"[1602.37286821299, 1135.0220768518, 1970.12976...","[959.886437505913, 875.856468981261, 912.62731...","[2556.82699299051, 1279.75105637683, 675.66199...","[80.3052629514267, 59.9974892466217, 697.81050...","[1681.90572841109, 1754.4181196178, 1714.42902...","[19606.6981901334, 19613.2797155538, 17716.901...","[636.340148572854, 25386.1081160745, 22308.893...","[828.634638979598, 894.684643959268, 603.76960..."
246334,IstanbulBuilding259783,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[400.005024641999, 1461.42134003253, 3931.1730...",[12480.4809229949],"[1588.54978949188, 1126.96403890584, 1956.4572...","[959.345892972254, 876.644803280662, 911.93934...","[2543.85409924245, 1262.37425691639, 685.49181...","[97.1347742447634, 63.7860241078799, 703.51574...","[1666.14936179323, 1738.24288334567, 1754.4963...","[19620.5410846014, 19627.1970508366, 17720.669...","[646.900959642187, 25390.9162755521, 22291.680...","[821.922386442375, 888.402754588013, 599.58242..."
246335,IstanbulBuilding259784,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[408.374034074145, 1462.42467834251, 3928.8659...",[12471.1245367345],"[1589.13265950805, 1123.4962114718, 1956.90741...","[952.401378373406, 869.232240106061, 905.04709...","[2543.7140451935, 1268.57207762417, 676.147345...","[93.126080089714, 55.0873326635276, 694.756557...","[1668.7330916048, 1741.37626213664, 1757.47568...","[19611.350997164, 19618.0210438654, 17712.4007...","[637.518973587302, 25382.3888746734, 22298.745...","[817.706789476209, 883.966012643017, 594.11169..."
246336,IstanbulBuilding259785,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[409.671020770881, 1503.69218787892, 3977.3461...",[12491.2788585192],"[1631.60325095121, 1173.18208182775, 1999.7196...","[999.949314532845, 915.477651614047, 952.72871...","[1286.41326173086, 705.816350131795, 1689.1203...","[73.2308097231555, 99.6496037575457]","[1704.59500200062, 1775.03738864002, 1696.6764...","[19625.8689855581, 19632.1975070308, 17754.454...","[665.136531497885, 25422.6796709571, 22309.625...","[867.740534966257, 934.035116432711, 643.88741..."

In [12]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_tr', 'osm_id', 'osm_type', 'adm1_tr', 'adm1_en', 'adm1',
       'Shape_Leng', 'Shape_Area', 'adm0_en', 'adm0_tr', 'adm0', 'lon', 'lat',
       'Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports',
       'Supermarket', 'Toilet', 'Transport'],
      dtype='object')

In [10]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [11]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [13]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Civic_Score,Fire_Score,Government_Score,Hospital_Score,Public_Score,School_Score,Sports_Score,Supermarket_Score,Toilet_Score,Transport_Score
0,IstanbulBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.20,0.00,9.97,9.72,9.66,8.36,9.45,0.89,0.00,9.74
1,IstanbulBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.12,0.00,9.94,9.68,9.71,8.12,9.30,0.83,0.00,9.78
2,IstanbulBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.35,0.00,9.99,9.78,9.66,8.38,9.86,1.11,0.00,9.65
3,IstanbulBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.13,0.00,9.95,9.68,9.72,8.21,9.35,0.85,0.00,9.79
4,IstanbulBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.59,4.34,9.49,9.71,8.81,8.19,7.54,0.02,0.00,9.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246332,IstanbulBuilding259781,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.16,0.00,9.85,9.84,9.33,8.21,9.23,1.45,4.44,9.62
246333,IstanbulBuilding259782,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.16,0.00,9.85,9.85,9.33,8.21,9.23,1.45,4.44,9.63
246334,IstanbulBuilding259783,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.16,0.00,9.85,9.85,9.35,8.21,9.23,1.45,4.44,9.63
246335,IstanbulBuilding259784,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.16,0.00,9.85,9.85,9.35,8.21,9.23,1.45,4.44,9.63
246336,IstanbulBuilding259785,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.16,0.00,9.85,9.84,9.32,3.41,9.22,1.45,3.33,9.62

In [16]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_tr', 'osm_id', 'osm_type', 'adm1_tr', 'adm1_en', 'adm1',
       'Shape_Leng', 'Shape_Area', 'adm0_en', 'adm0_tr', 'adm0', 'lon', 'lat',
       'Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports',
       'Supermarket', 'Toilet', 'Transport', 'Civic_nearby', 'Fire_nearby',
       'Government_nearby', 'Hospital_nearby', 'Public_nearby',
       'School_nearby', 'Sports_nearby', 'Supermarket_nearby', 'Toilet_nearby',
       'Transport_nearby', 'Civic_Score', 'Fire_Score', 'Government_Score',
       'Hospital_Score', 'Public_Score', 'School_Score', 'Sports_Score',
       'Supermarket_Score', 'Toilet_Score', 'Transport_Score'],
      dtype='object')

In [17]:
df = df[['Building', 'lon', 'lat',
       'Civic_Score', 'Fire_Score', 'Government_Score',
       'Hospital_Score', 'Public_Score', 'School_Score', 'Sports_Score',
       'Supermarket_Score', 'Toilet_Score', 'Transport_Score']]

In [ ]:
df.to_csv('IstanbulScoreRAW1.csv', index = False)

In [15]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 125 ms
Wall time: 137 ms

In [16]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 4min 35s
Wall time: 4min 41s

In [17]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,IstanbulBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.100213684865337, 0.107001990063315, 0.10361...","[0.8390171250425121, 0.7225305862121799]","[1.9966486235923102, 1.9989196050953801, 1.650...","[1.9966486235923102, 1.9989196050953801, 1.650...",[0.22965873683465302],"[0.22965873683465302, 2.4263820923906003, 2.10...","[0.22965873683465302, 2.4263820923906003, 2.10...","[0.0635261039442742, 0.058788351950614, 0.0398...","[0.0635261039442742, 0.058788351950614, 0.0398...","[0.0635261039442742, 0.058788351950614, 0.0398..."
1,IstanbulBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.120120550208683, 0.12425258061066599, 0.120...","[0.8704664894254039, 0.724800610883859]","[2.01323056237067, 2.0156892118699403, 1.64533...","[2.01323056237067, 2.0156892118699403, 1.64533...",[0.261629746801393],"[0.261629746801393, 2.42219719411727, 2.082773...","[0.261629746801393, 2.42219719411727, 2.082773...","[0.0721195093066016, 0.0196239079252915, 0.020...","[0.0721195093066016, 0.0196239079252915, 0.020...","[0.0721195093066016, 0.0196239079252915, 0.020..."
2,IstanbulBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.0316010482586767, 0.0434649834970953, 0.041...","[0.7761802292238109, 0.668120973192039]","[2.01617907569297, 2.01793735793746, 1.7130430...","[2.01617907569297, 2.01793735793746, 1.7130430...",[0.179703667081676],"[0.179703667081676, 2.48766924256517, 2.113066...","[0.179703667081676, 2.48766924256517, 2.113066...","[0.052026568958130806, 0.043732159204288, 0.09...","[0.052026568958130806, 0.043732159204288, 0.09...","[0.052026568958130806, 0.043732159204288, 0.09..."
3,IstanbulBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.113385169483486, 0.11775854090678799, 0.114...","[0.863784674971357, 0.720872074276735]","[2.01290070680966, 2.01531127827301, 1.6496067...","[2.01290070680966, 2.01531127827301, 1.6496067...",[0.255339722102633],"[0.255339722102633, 2.4263379207507003, 2.0850...","[0.255339722102633, 2.4263379207507003, 2.0850...","[0.0668923563658238, 0.0657668594681302, 0.018...","[0.0668923563658238, 0.0657668594681302, 0.018...","[0.0668923563658238, 0.0657668594681302, 0.018..."
4,IstanbulBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.362452322243564, 0.243326425391115, 0.34359...",[0.986393277449103],"[1.2974955929026901, 1.30445270183349, 1.30230...","[1.2974955929026901, 1.30445270183349, 1.30230...",[0.756734770162942],"[0.756734770162942, 1.73333654070128, 2.758919...","[0.756734770162942, 1.73333654070128, 2.758919...","[0.051752524037319406, 0.0727236630893907, 0.1...","[0.051752524037319406, 0.0727236630893907, 0.1...","[0.051752524037319406, 0.0727236630893907, 0.1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246332,IstanbulBuilding259781,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.170427267597839, 0.177609615058402, 0.16936...","[0.607033174819925, 0.673177853455259]","[1.96057447435161, 1.96121498185429, 1.7732195...","[1.96057447435161, 1.96121498185429, 1.7732195...",[0.0642682314170713],"[0.0642682314170713, 2.5400162130037502, 2.232...","[0.0642682314170713, 2.5400162130037502, 2.232...","[0.0852474399859055, 0.0918329988534318, 0.062...","[0.0852474399859055, 0.0918329988534318, 0.062...","[0.0852474399859055, 0.0918329988534318, 0.062..."
246333,IstanbulBuilding259782,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.168190572841109, 0.17544181196178, 0.171442...","[0.6094388017070209, 0.673431330075868]","[1.96066981901334, 1.96132797155538, 1.7716901...","[1.96066981901334, 1.96132797155538, 1.7716901...",[0.0636340148572854],"[0.0636340148572854, 2.53861081160745, 2.23088...","[0.0636340148572854, 2.53861081160745, 2.23088...","[0.0828634638979598, 0.0894684643959268, 0.060...","[0.0828634638979598, 0.0894684643959268, 0.060...","[0.0828634638979598, 0.0894684643959268, 0.060..."
246334,IstanbulBuilding259783,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.166614936179323, 0.173824288334567, 0.17544...","[0.610835017203818, 0.672212766931551]","[1.9620541084601397, 1.96271970508366, 1.77206...","[1.9620541084601397, 1.96271970508366, 1.77206...",[0.0646900959642187],"[0.0646900959642187, 2.53909162755521, 2.22916...","[0.0646900959642187, 2.53909162755521, 2.22916...","[0.0821922386442375, 0.0888402754588013, 0.059...","[0.0821922386442375, 0.0888402754588013, 0.059...","[0.0821922386442375, 0.0888402754588013, 0.059..."
246335,IstanbulBuilding259784,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.16687330916048, 0.174137626213664, 0.175747...","[0.610763833922659, 0.67315028453646]","[1.9611350997164, 1.96180210438654, 1.77124007...","[1.9611350997164, 1.96180210438654, 1.77124007...",[0.0637518973587302],"[0.0637518973587302, 2.5382388874673403, 2.229...","[0.0637518973587302, 2.5382388874673403, 2.229...","[0.0817706789476209, 0.08839660126430171, 0.05...","[0.0817706789476209, 0.08839660126430171, 0.05...","[0.0817706789476209, 0.08839660126430171, 0.05..."
246336,IstanbulBuilding259785,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.170459500200062, 0.177503738864002, 0.16966...","[0.6065722681117319, 0.671037982433598]","[1.96258689855581, 1.96321975070308, 1.7754454...","[1.96258689855581, 1.96321975070308, 1.7754454...",[0.06651365314978851],"[0.06651365314978851, 2.54226796709571, 2.2309...","[0.06651365314978851, 2.54226796709571, 2.2309...","[0.0867740534966257, 0.0934035116432711, 0.064...","[0.0867740534966257, 0.0934035116432711, 0.064...","[0.0867740534966257, 0.0934035116432711, 0.064..."

In [18]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 5min 34s
Wall time: 5min 54s

In [19]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 6min 25s
Wall time: 7min 51s

In [20]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,IstanbulBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.37,0.44,17.79,42.79,0.77,10.23,25.23,4.71,24.71,49.71
1,IstanbulBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.26,0.41,17.73,42.73,0.74,10.24,25.24,4.75,24.75,49.75
2,IstanbulBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.67,0.55,17.80,42.80,0.82,10.22,25.22,4.62,24.62,49.62
3,IstanbulBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.30,0.42,17.74,42.74,0.74,10.22,25.22,4.76,24.76,49.76
4,IstanbulBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.98,0.01,18.99,43.99,0.24,9.75,24.75,4.59,24.59,49.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246332,IstanbulBuilding259781,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.21,0.72,18.03,43.03,0.94,10.17,25.17,4.59,24.59,49.59
246333,IstanbulBuilding259782,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.21,0.72,18.03,43.03,0.94,10.17,25.17,4.60,24.60,49.60
246334,IstanbulBuilding259783,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.21,0.72,18.03,43.03,0.94,10.17,25.17,4.60,24.60,49.60
246335,IstanbulBuilding259784,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.21,0.72,18.03,43.03,0.94,10.17,25.17,4.60,24.60,49.60
246336,IstanbulBuilding259785,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.20,0.72,18.02,43.02,0.93,10.16,25.16,4.59,24.59,49.59

In [ ]:
df.columns[94]

In [21]:
# Vectorized scaling operation
df.iloc[:, 64:94] = df.iloc[:, 64:94].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [22]:
# Optimized approach
try:
    df.iloc[:, 64:94] = df.iloc[:, 64:94].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [23]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,IstanbulBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.89,0.89,7.13,8.17,7.78,9.97,9.99,9.48,9.90,9.91
1,IstanbulBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.86,0.83,7.10,8.15,7.47,9.98,9.99,9.56,9.91,9.92
2,IstanbulBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.97,1.11,7.13,8.17,8.28,9.96,9.98,9.30,9.86,9.87
3,IstanbulBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.87,0.85,7.11,8.15,7.47,9.96,9.98,9.58,9.92,9.92
4,IstanbulBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.50,0.02,7.61,8.47,2.42,9.50,9.78,9.24,9.85,9.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246332,IstanbulBuilding259781,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.84,1.45,7.22,8.23,9.49,9.91,9.96,9.24,9.85,9.86
246333,IstanbulBuilding259782,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.84,1.45,7.22,8.23,9.49,9.91,9.96,9.26,9.85,9.87
246334,IstanbulBuilding259783,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.84,1.45,7.22,8.23,9.49,9.91,9.96,9.26,9.85,9.87
246335,IstanbulBuilding259784,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.84,1.45,7.22,8.23,9.49,9.91,9.96,9.26,9.85,9.87
246336,IstanbulBuilding259785,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.84,1.45,7.22,8.23,9.39,9.90,9.96,9.24,9.85,9.86

In [25]:
df.to_csv('IstanbulScoreRAW.csv', index = False)