In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('SeoulBuildings.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_12260\2370792657.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SeoulBuildings.csv')

In [3]:
df['building'].value_counts()

yes                   60337
apartments            18048
house                 14686
commercial            12479
residential            9907
                      ...
Officetels                1
supermarket               1
mice                      1
semidetached_house        1
yes;commercial            1
Name: building, Length: 85, dtype: int64

In [4]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,source,name_ko,osm_id,osm_type,id,name_2,source_2,lon,lat
0,102동,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085512,ways_poly,KR11,Seoul,https://simplemaps.com,126.893320,37.474336
1,103동,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085513,ways_poly,KR11,Seoul,https://simplemaps.com,126.893138,37.473909
2,104동,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085514,ways_poly,KR11,Seoul,https://simplemaps.com,126.892449,37.473988
3,109동,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085519,ways_poly,KR11,Seoul,https://simplemaps.com,126.892580,37.475272
4,110동,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085521,ways_poly,KR11,Seoul,https://simplemaps.com,126.893044,37.475257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124556,노보텔 앰배서더 서울 강남 호텔,NaN,hotel,17,NaN,NaN,130,봉은사로,NaN,NaN,NaN,NaN,8833641,relations,KR11,Seoul,https://simplemaps.com,127.028870,37.505174
124557,서울역사박물관,Seoul Museum of History,yes,NaN,NaN,NaN,55,새문안로,NaN,NaN,NaN,서울역사박물관,8448914,relations,KR11,Seoul,https://simplemaps.com,126.970316,37.570499
124558,LG트윈타워,LG Twin Tower,office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6033900,relations,KR11,Seoul,https://simplemaps.com,126.929257,37.527929
124559,NaN,NaN,roof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15446362,relations,KR11,Seoul,https://simplemaps.com,126.855172,37.548740
124560,봅스트홀,College of Engineering 1/Bobst Hall,university,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5466447,relations,KR11,Seoul,https://simplemaps.com,126.957805,37.503534

In [5]:
df['name'] = df.index.map(lambda i: f'SeoulBuilding{i}')

In [6]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,source,name_ko,osm_id,osm_type,id,name_2,source_2,lon,lat
0,SeoulBuilding0,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085512,ways_poly,KR11,Seoul,https://simplemaps.com,126.893320,37.474336
1,SeoulBuilding1,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085513,ways_poly,KR11,Seoul,https://simplemaps.com,126.893138,37.473909
2,SeoulBuilding2,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085514,ways_poly,KR11,Seoul,https://simplemaps.com,126.892449,37.473988
3,SeoulBuilding3,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085519,ways_poly,KR11,Seoul,https://simplemaps.com,126.892580,37.475272
4,SeoulBuilding4,NaN,apartments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,568085521,ways_poly,KR11,Seoul,https://simplemaps.com,126.893044,37.475257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124556,SeoulBuilding124556,NaN,hotel,17,NaN,NaN,130,봉은사로,NaN,NaN,NaN,NaN,8833641,relations,KR11,Seoul,https://simplemaps.com,127.028870,37.505174
124557,SeoulBuilding124557,Seoul Museum of History,yes,NaN,NaN,NaN,55,새문안로,NaN,NaN,NaN,서울역사박물관,8448914,relations,KR11,Seoul,https://simplemaps.com,126.970316,37.570499
124558,SeoulBuilding124558,LG Twin Tower,office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6033900,relations,KR11,Seoul,https://simplemaps.com,126.929257,37.527929
124559,SeoulBuilding124559,NaN,roof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15446362,relations,KR11,Seoul,https://simplemaps.com,126.855172,37.548740
124560,SeoulBuilding124560,College of Engineering 1/Bobst Hall,university,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5466447,relations,KR11,Seoul,https://simplemaps.com,126.957805,37.503534

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [9]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [10]:
df_building.to_csv('SeoulBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [12]:
df_public

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,source,name_ko,osm_id,osm_type,id,name_2,source_2,lon,lat
921,SeoulBuilding921,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,894634601,ways_poly,KR11,Seoul,https://simplemaps.com,127.056500,37.559296
1851,SeoulBuilding1851,NaN,public,NaN,NaN,NaN,7,복정로118번길,성남시 수정구,NaN,도로명주소,복정도서관,923250075,ways_poly,KR11,Seoul,https://simplemaps.com,127.127878,37.463757
1860,SeoulBuilding1860,NaN,public,NaN,NaN,NaN,38,성남대로1480번길,성남시 수정구,NaN,도로명주소,수정중앙노인종합복지관,1023945828,ways_poly,KR11,Seoul,https://simplemaps.com,127.130455,37.461545
2682,SeoulBuilding2682,NaN,public,NaN,NaN,NaN,540,봉천로,관악구,NaN,도로명주소,낙성대지구대,1172774172,ways_poly,KR11,Seoul,https://simplemaps.com,126.957589,37.478319
4455,SeoulBuilding4455,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,동작교육지원청,283920716,ways_poly,KR11,Seoul,https://simplemaps.com,126.940634,37.502942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123573,SeoulBuilding123573,NaN,public,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,681798410,ways_poly,KR11,Seoul,https://simplemaps.com,126.935197,37.523259
123574,SeoulBuilding123574,NaN,public,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,681798411,ways_poly,KR11,Seoul,https://simplemaps.com,126.935274,37.523048
124163,SeoulBuilding124163,Korea Univ. College of Political Science & Eco...,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,고려대학교 정경관,2436970,relations,KR11,Seoul,https://simplemaps.com,127.030489,37.587098
124288,SeoulBuilding124288,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11978833,relations,KR11,Seoul,https://simplemaps.com,126.912844,37.530292
124545,SeoulBuilding124545,Dongdaemun Design Plaza,public,4,NaN,NaN,281,을지로,NaN,NaN,NaN,동대문디자인플라자,10647068,relations,KR11,Seoul,https://simplemaps.com,127.009646,37.566813