In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
df_building = pd.read_csv('SydneyBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_fire = df_fire.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_supermarket = df_supermarket.groupby('InputID').agg(lambda x: list(x))
df_toilet = df_toilet.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_fire.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_supermarket.drop(columns=['TargetID'], inplace = True)
df_toilet.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [8]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

                    InputID                                           Distance
0           SydneyBuilding0  [6654.73322607998, 6654.73322607998, 6244.2858...
1           SydneyBuilding1  [6636.85444021818, 6636.85444021818, 6228.4121...
2          SydneyBuilding10  [1465.91044324396, 1987.04504462278, 1973.8419...
3         SydneyBuilding100  [16482.1997961194, 16146.1401744946, 786.18421...
4        SydneyBuilding1000  [4832.31255988039, 3873.123114804, 2256.440909...
...                     ...                                                ...
263355  SydneyBuilding99995  [28545.6858877198, 27436.1960669083, 15554.859...
263356  SydneyBuilding99996  [28593.090382485, 27482.2663682653, 15586.8683...
263357  SydneyBuilding99997  [28611.4152800368, 27494.8026364307, 15607.964...
263358  SydneyBuilding99998  [28166.1425044583, 27275.7048125511, 14956.546...
263359  SydneyBuilding99999  [28136.3952981659, 27234.8859432631, 14956.461...

[263360 rows x 2 columns]

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_fire, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_supermarket, on='Building', how = 'inner')
df = df.merge(df_toilet, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [11]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,SydneyBuilding0,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,"[4617.89879733412, 6255.73321530615, 6255.7332...","[3309.66404765564, 3321.04859617721, 779.31336...","[392.668933605675, 4083.18844792689, 4048.8454...","[3265.86535262562, 4736.97557145963, 4684.9112...","[6235.96591519424, 6235.96591519424, 4929.7071...","[190.701540786379, 148.739493494823, 126.08402...","[2740.28394889511, 3482.31069348593, 2985.3112...","[61944.9056292058, 21380.1321149379, 21210.257...","[529.596814355112, 816.301681863727, 3816.4946...","[6654.73322607998, 6654.73322607998, 6244.2858..."
1,SydneyBuilding1,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,"[4617.83782755997, 6238.2759815161, 6238.27598...","[3295.76787484187, 3306.9917096612, 760.556251...","[396.751383326987, 4081.02216944997, 4046.8798...","[3250.90845502615, 4736.4061630074, 4684.49879...","[6218.62539600939, 6218.62539600939, 4912.6590...","[206.719818541055, 164.680008378255, 139.79302...","[2725.27988391913, 3472.56101775201, 2982.1957...","[61928.7778682838, 21364.1191603318, 21197.735...","[548.262427161757, 824.886116935234, 3822.7008...","[6636.85444021818, 6636.85444021818, 6228.4121..."
2,SydneyBuilding3,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,"[4652.42318992124, 6277.4049151647, 6277.40491...","[3340.00767075605, 3351.14723998756, 789.74386...","[424.893674928161, 4118.55717795907, 4084.1529...","[3294.4212568704, 4771.74248395466, 4719.60604...","[6258.10795421045, 6258.10795421045, 4952.9382...","[204.11034347099, 163.368350815939, 147.365146...","[2768.75652875246, 3458.06354007162, 3020.9195...","[61970.8352254118, 21406.3581900801, 21191.095...","[517.572437239403, 843.103082725814, 3845.9142...","[6674.44405916465, 6674.44405916465, 6270.8714..."
3,SydneyBuilding4,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,"[4618.84333457417, 6280.7065335131, 6280.70653...","[3329.88865939367, 3341.49103348617, 805.84787...","[389.092670194799, 4087.12060020894, 4052.4962...","[3287.52605592339, 4738.63547622858, 4686.3507...","[6260.78647205501, 6260.78647205501, 4954.1468...","[169.45281706615, 127.977479846463, 109.886821...","[2762.02002866137, 3495.60956906756, 2990.6306...","[61968.0946145625, 21403.1708307491, 21227.444...","[503.127089801969, 805.40862274718, 3808.54504...","[6680.25245839903, 6680.25245839903, 6267.1544..."
4,SydneyBuilding5,NaN,yes,NaN,NaN,NaN,8,Cornwall Road,NaN,NaN,...,"[20033.7130460077, 18530.3621866448, 16289.579...","[3385.99201251674, 6630.96671412185, 816.60624...","[8113.64773572365, 12323.1684437737, 10722.490...","[9776.08684884024, 9781.06929855183, 9691.9772...","[24646.2122143455, 18867.6736891185, 14473.898...","[704.128931652348, 737.003709146777, 740.38287...","[5997.51103019402, 2689.33147310363, 4322.8943...","[33883.5146803309, 24443.433266296, 51611.1923...","[18392.0921412807, 18589.8338189991, 12611.206...","[12390.6667739511, 9759.21911421279, 16011.749..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263355,SydneyBuilding315922,NaN,house,NaN,NaN,NaN,NaN,Dorritt Street,NaN,NaN,...,"[495.845732893453, 382.734035848268, 1727.1833...","[4592.93086953917, 7252.0966467933, 736.234517...","[647.856340621434, 6057.96197517439, 6057.9619...","[1414.79539500509, 1426.15269579175, 1459.8676...","[6646.88968109346, 6646.88968109346, 4215.4554...","[464.151979578626, 512.772499951092, 489.09287...","[2752.73147607558, 1030.92230247574, 1715.5272...","[51438.7355431827, 12099.5385890091, 16566.589...","[2011.88830959768, 3316.60000457209, 3453.8985...","[2319.3007326123, 1277.20056768781, 2356.46547..."
263356,SydneyBuilding315928,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[2083.88549139846, 6040.41296040454, 4297.5725...","[2705.98422138319, 4897.88383559447, 7390.8244...","[9224.47957047413, 8948.99710066991, 8933.6779...","[7065.33648692587, 7515.72201239074, 3354.0581...","[4779.73671015692, 4244.21704532708, 2056.2975...","[1103.10782268524, 2797.77493619742, 374.70845...","[2117.1515999658, 5581.7461117277, 3724.714096...","[55458.2731334742, 20939.5786016246, 6433.8874...","[4434.49142735049, 4752.97134515503, 413.41681...","[7099.40189204542, 7397.51855389242, 7011.1493..."
263357,SydneyBuilding315929,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,"[1086.45551309773, 1086.45551309773, 1123.7344...","[1934.48802521751, 868.137395823859, 868.13739...","[1151.2542857052, 1151.2542857052, 2335.382374...","[963.565141734561, 963.565141734561, 970.86375...","[1038.58798430632, 1038.58798430632, 1033.3699...","[348.946469635342, 348.946469635342, 919.48065...","[1390.10282710101, 908.11355254171, 2016.50290...","[54845.4099528861, 14294.1782375025, 20581.447...","[1068.10769445878, 1068.10769445878, 1092.7749...","[532.279720905398, 532.279720905398, 861.75319..."
263358,SydneyBuilding315930,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,"[1086.45551309773, 1086.45551309773, 1123.7344...","[1934.48802521751, 868.137395823859, 868.13739...","[1151.2542857052, 1151.2542857052, 2335.382374...","[963.565141734561, 963.565141734561, 970.86375...","[1038.58798430632, 1038.58798430632, 1033.3699...","[348.946469635342, 348.946469635342, 919.48065...","[1390.10282710101, 908.11355254171, 2016.50290...","[54845.4099528861, 14294.1782375025, 20581.447...","[1068.10769445878, 1068.10769445878, 1092.7749...","[532.279720905398, 532.279720905398, 861.75319..."
263359,SydneyBuilding315931,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1920.8483526348, 1920.8483526348, 1976.579878...","[1972.06360443985, 2952.59737991161, 2952.5973...","[1509.64814231158, 1509.64814231158, 2136.0892...","[2080.8641685919, 2080.8641685919, 2093.094981...","[2026.42503476634, 2026.42503476634, 2315.6168...","[208.989142962539, 191.322615630177, 228.45852...","[1867.77886828148, 2054.89526670339, 2018.0659...","[55667.0696980995, 15355.170482483, 18024.9709...","[1108.04908614026, 1543.75606784146, 1543.7560...","[298.817970132634, 299.797030787679, 282.05251..."

In [12]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'osm_id', 'osm_type', 'fid', 'admin_leve', 'name_2',
       'name_en_2', 'population', 'hasc', 'lon', 'lat', 'Civic', 'Fire',
       'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket',
       'Toilet', 'Transport'],
      dtype='object')

In [10]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [11]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [13]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'osm_id', 'osm_type', 'fid', 'admin_leve', 'name_2',
       'name_en_2', 'population', 'hasc', 'lon', 'lat', 'Civic', 'Fire',
       'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket',
       'Toilet', 'Transport', 'Civic_nearby', 'Fire_nearby',
       'Government_nearby', 'Hospital_nearby', 'Public_nearby',
       'School_nearby', 'Sports_nearby', 'Supermarket_nearby', 'Toilet_nearby',
       'Transport_nearby', 'Civic_Score', 'Fire_Score', 'Government_Score',
       'Hospital_Score', 'Public_Score', 'School_Score', 'Sports_Score',
       'Supermarket_Score', 'Toilet_Score', 'Transport_Score'],
      dtype='object')

In [14]:
df = df[['Building', 'lon', 'lat', 'Civic_Score', 'Fire_Score', 'Government_Score',
       'Hospital_Score', 'Public_Score', 'School_Score', 'Sports_Score',
       'Supermarket_Score', 'Toilet_Score', 'Transport_Score']]

In [15]:
df.to_csv('SydneyScoreRAW1.csv', index = False)

In [15]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 78.1 ms
Wall time: 78 ms

In [16]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 2min 20s
Wall time: 2min 21s

In [17]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,SydneyBuilding0,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,"[0.274028394889511, 0.348231069348593, 0.29853...",[],"[2.13801321149379, 2.12102572752055, 2.3590225...","[6.19449056292058, 2.13801321149379, 2.1210257...","[0.0529596814355112, 0.0816301681863727, 0.381...","[0.0529596814355112, 0.0816301681863727, 0.381...","[0.0529596814355112, 0.0816301681863727, 0.381...","[0.6654733226079981, 0.6654733226079981, 0.624...","[0.6654733226079981, 0.6654733226079981, 0.624...","[0.6654733226079981, 0.6654733226079981, 0.624..."
1,SydneyBuilding1,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,"[0.272527988391913, 0.347256101775201, 0.29821...",[],"[2.13641191603318, 2.11977358093661, 2.3578931...","[6.19287778682838, 2.13641191603318, 2.1197735...","[0.054826242716175706, 0.0824886116935234, 0.3...","[0.054826242716175706, 0.0824886116935234, 0.3...","[0.054826242716175706, 0.0824886116935234, 0.3...","[0.663685444021818, 0.663685444021818, 0.62284...","[0.663685444021818, 0.663685444021818, 0.62284...","[0.663685444021818, 0.663685444021818, 0.62284..."
2,SydneyBuilding3,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,"[0.276875652875246, 0.34580635400716203, 0.302...",[],"[2.14063581900801, 2.11910952488308, 2.3568568...","[6.19708352254118, 2.14063581900801, 2.1191095...","[0.051757243723940305, 0.0843103082725814, 0.3...","[0.051757243723940305, 0.0843103082725814, 0.3...","[0.051757243723940305, 0.0843103082725814, 0.3...","[0.667444405916465, 0.667444405916465, 0.62708...","[0.667444405916465, 0.667444405916465, 0.62708...","[0.667444405916465, 0.667444405916465, 0.62708..."
3,SydneyBuilding4,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,"[0.276202002866137, 0.34956095690675604, 0.299...",[],"[2.14031708307491, 2.12274446298934, 2.3605637...","[6.19680946145625, 2.14031708307491, 2.1227444...","[0.0503127089801969, 0.08054086227471799, 0.38...","[0.0503127089801969, 0.08054086227471799, 0.38...","[0.0503127089801969, 0.08054086227471799, 0.38...","[0.668025245839903, 0.668025245839903, 0.62671...","[0.668025245839903, 0.668025245839903, 0.62671...","[0.668025245839903, 0.668025245839903, 0.62671..."
4,SydneyBuilding5,NaN,yes,NaN,NaN,NaN,8,Cornwall Road,NaN,NaN,...,"[0.599751103019402, 0.268933147310363, 0.43228...",[],"[3.38835146803309, 2.4443433266296]","[3.38835146803309, 2.4443433266296, 5.16111923...",[],"[1.83920921412807, 1.8589833818999102, 1.26112...","[1.83920921412807, 1.8589833818999102, 1.26112...","[0.975921911421279, 0.446289329690348]","[1.23906667739511, 0.975921911421279, 1.601174...","[1.23906667739511, 0.975921911421279, 1.601174..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263355,SydneyBuilding315922,NaN,house,NaN,NaN,NaN,NaN,Dorritt Street,NaN,NaN,...,"[0.275273147607558, 0.103092230247574, 0.17155...",[],"[1.20995385890091, 1.65665895843658, 1.9595408...","[5.1438735543182705, 1.20995385890091, 1.65665...","[0.201188830959768, 0.331660000457209, 0.34538...","[0.201188830959768, 0.331660000457209, 0.34538...","[0.201188830959768, 0.331660000457209, 0.34538...","[0.23193007326123002, 0.127720056768781, 0.235...","[0.23193007326123002, 0.127720056768781, 0.235...","[0.23193007326123002, 0.127720056768781, 0.235..."
263356,SydneyBuilding315928,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.21171515999658, 0.55817461117277, 0.3724714...","[0.643388749382073, 0.93482707848347]","[2.09395786016246, 0.643388749382073, 0.934827...","[5.54582731334742, 2.09395786016246, 0.6433887...","[0.443449142735049, 0.475297134515503, 0.04134...","[0.443449142735049, 0.475297134515503, 0.04134...","[0.443449142735049, 0.475297134515503, 0.04134...","[0.709940189204542, 0.7397518553892419, 0.7011...","[0.709940189204542, 0.7397518553892419, 0.7011...","[0.709940189204542, 0.7397518553892419, 0.7011..."
263357,SydneyBuilding315929,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,"[0.139010282710101, 0.090811355254171, 0.20165...",[],"[1.42941782375025, 2.0581447374499597, 2.34390...","[5.48454099528861, 1.42941782375025, 2.0581447...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.053227972090539796, 0.053227972090539796, 0...","[0.053227972090539796, 0.053227972090539796, 0...","[0.053227972090539796, 0.053227972090539796, 0..."
263358,SydneyBuilding315930,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,"[0.139010282710101, 0.090811355254171, 0.20165...",[],"[1.42941782375025, 2.0581447374499597, 2.34390...","[5.48454099528861, 1.42941782375025, 2.0581447...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.10681076944587801, 0.10681076944587801, 0.1...","[0.053227972090539796, 0.053227972090539796, 0...","[0.053227972090539796, 0.053227972090539796, 0...","[0.053227972090539796, 0.053227972090539796, 0..."
263359,SydneyBuilding315931,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.186777886828148, 0.205489526670339, 0.20180...",[],"[1.5355170482483, 1.8024970937789302, 2.086494...","[5.56670696980995, 1.5355170482483, 1.80249709...","[0.110804908614026, 0.154375606784146, 0.15437...","[0.110804908614026, 0.154375606784146, 0.15437...","[0.110804908614026, 0.154375606784146, 0.15437...","[0.0298817970132634, 0.0299797030787679, 0.028...","[0.0298817970132634, 0.0299797030787679, 0.028...","[0.0298817970132634, 0.0299797030787679, 0.028..."

In [18]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 2min 43s
Wall time: 2min 44s

In [19]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 2min 57s
Wall time: 3min 16s

In [20]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,SydneyBuilding0,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,48.41,0.00,8.38,27.19,4.02,24.02,49.02,2.14,26.14,56.14
1,SydneyBuilding1,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,48.41,0.00,8.38,27.19,4.03,24.03,49.03,2.16,26.16,56.16
2,SydneyBuilding3,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,48.40,0.00,8.38,27.18,4.02,24.02,49.02,2.12,26.12,56.12
3,SydneyBuilding4,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,48.40,0.00,8.38,27.18,4.02,24.02,49.02,2.12,26.12,56.12
4,SydneyBuilding5,NaN,yes,NaN,NaN,NaN,8,Cornwall Road,NaN,NaN,...,47.51,0.00,4.17,23.55,0.00,17.34,42.34,0.57,19.04,44.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263355,SydneyBuilding315922,NaN,house,NaN,NaN,NaN,NaN,Dorritt Street,NaN,NaN,...,49.06,0.00,10.17,30.03,3.62,23.62,48.62,3.92,23.92,48.92
263356,SydneyBuilding315928,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.90,0.43,11.34,30.79,3.00,23.00,48.00,1.22,21.22,46.22
263357,SydneyBuilding315929,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,49.24,0.00,9.17,28.69,5.34,29.34,59.34,4.61,24.61,49.61
263358,SydneyBuilding315930,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,49.24,0.00,9.17,28.69,5.34,29.34,59.34,4.61,24.61,49.61
263359,SydneyBuilding315931,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,48.99,0.00,9.57,29.00,4.25,24.25,49.25,4.85,24.85,49.85

In [ ]:
df.columns[91]

In [21]:
# Vectorized scaling operation
df.iloc[:, 61:91] = df.iloc[:, 61:91].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [22]:
# Optimized approach
try:
    df.iloc[:, 61:91] = df.iloc[:, 61:91].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [23]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,SydneyBuilding0,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,5.93,0.00,6.75,8.21,6.84,7.38,6.03,3.57,8.16,8.51
1,SydneyBuilding1,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,5.93,0.00,6.75,8.21,6.85,7.38,6.03,3.60,8.17,8.52
2,SydneyBuilding3,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,5.92,0.00,6.75,8.21,6.84,7.38,6.03,3.53,8.15,8.50
3,SydneyBuilding4,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,5.92,0.00,6.75,8.21,6.84,7.38,6.03,3.53,8.15,8.50
4,SydneyBuilding5,NaN,yes,NaN,NaN,NaN,8,Cornwall Road,NaN,NaN,...,5.61,0.00,2.94,6.43,0.00,4.39,3.59,0.95,4.77,3.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263355,SydneyBuilding315922,NaN,house,NaN,NaN,NaN,NaN,Dorritt Street,NaN,NaN,...,6.16,0.00,8.36,9.60,6.16,7.20,5.88,6.53,7.10,5.73
263356,SydneyBuilding315928,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.75,2.53,9.42,9.98,5.10,6.92,5.66,2.03,5.81,4.69
263357,SydneyBuilding315929,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,6.22,0.00,7.46,8.95,9.08,9.76,9.80,7.68,7.43,5.99
263358,SydneyBuilding315930,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,6.22,0.00,7.46,8.95,9.08,9.76,9.80,7.68,7.43,5.99
263359,SydneyBuilding315931,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,6.13,0.00,7.82,9.10,7.23,7.48,6.11,8.08,7.54,6.09

In [24]:
df.to_csv('SydneyScoreRAW.csv', index = False)