In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import requests
import numpy as np
import gc
import ast

In [2]:
df = pd.read_csv('JakartaMergedCSV.csv')

In [ ]:
df_building = pd.read_csv('JakartaBuildingsFinal.csv')

In [ ]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [ ]:
df_civic = pd.read_csv('CivicDistance.csv')
df_fire = pd.read_csv('FireDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_supermarket = pd.read_csv('SupermarketDistance.csv')
df_toilet = pd.read_csv('ToiletDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [ ]:
%%time
# List of DataFrames
dfs = [df_civic, df_fire, df_government, df_hospital, df_public,
       df_school, df_sports, df_supermarket, df_toilet, df_transport]

# Apply groupby and aggregation without loop overhead
dfs = [df.groupby('InputID').agg(list) for df in dfs]

In [ ]:
df_civic = df_civic.reset_index()
df_fire = df_fire.reset_index()
df_government = df_government.reset_index()
df_hospital = df_hospital.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_supermarket = df_supermarket.reset_index()
df_toilet = df_toilet.reset_index()
df_transport = df_transport.reset_index()

In [ ]:
df_civic = df_civic.drop(columns=['index'])
df_fire = df_fire.drop(columns=['index'])
df_government = df_government.drop(columns=['index'])
df_hospital = df_hospital.drop(columns=['index'])
df_public = df_public.drop(columns=['index'])
df_school = df_school.drop(columns=['index'])
df_sports = df_sports.drop(columns=['index'])
df_supermarket = df_supermarket.drop(columns=['index'])
df_toilet = df_toilet.drop(columns=['index'])
df_transport = df_transport.drop(columns=['index'])

In [ ]:
%%time
# List of dataframes
dfs = [df_civic, df_fire, df_government, df_hospital, df_public, 
       df_school, df_sports, df_supermarket, df_toilet, df_transport]

# Drop the column from each dataframe
for df in dfs:
    df.drop(columns=['TargetID'], inplace=True, errors='ignore')  # 'errors=ignore' prevents errors if column not found

In [ ]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

In [ ]:
%%time
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_fire.rename(columns={'InputID':'Building', 'Distance':'Fire'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_supermarket.rename(columns={'InputID':'Building', 'Distance':'Supermarket'}, inplace = True)
df_toilet.rename(columns={'InputID':'Building', 'Distance':'Toilet'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [ ]:
df_transport

In [ ]:
df = pd.DataFrame()

In [ ]:
'''def optimize_df(df):
    for col in df.select_dtypes(include=['float64']).columns:
        df[col] = pd.to_numeric(df[col], downcast='float')
    for col in df.select_dtypes(include=['int64']).columns:
        df[col] = pd.to_numeric(df[col], downcast='integer')
    for col in df.select_dtypes(include=['object']).columns:
        num_unique_values = len(df[col].unique())
        num_total_values = len(df[col])
        if num_unique_values / num_total_values < 0.5:
            df[col] = df[col].astype('category')
    return df

df_building = optimize_df(df_building)
df_civic = optimize_df(df_civic)
df_fire = optimize_df(df_fire)
df_government = optimize_df(df_government)
df_hospital = optimize_df(df_hospital)
df_public = optimize_df(df_public)
df_school = optimize_df(df_school)
df_sports = optimize_df(df_sports)
df_supermarket = optimize_df(df_supermarket)
df_toilet = optimize_df(df_toilet)
df_transport = optimize_df(df_transport)
'''

In [ ]:
import pandas as pd
import dask.dataframe as dd

chunk_size = 100000  # Experiment with different sizes
df_list = []

for chunk in pd.read_csv('df_building.csv', chunksize=chunk_size):
    df_list.append(dd.from_pandas(chunk, npartitions=-1))

df_building = dd.concat(df_list)
del df_list
gc.collect()

In [ ]:
#df = pd.read_csv('JakartaMergedCSV.csv')

In [ ]:
'''del df_building, df_civic, df_fire, df_government, df_hospital, df_public
del df_school, df_sports, df_supermarket, df_toilet, df_transport
gc.collect()  # Free up memory
'''

In [3]:
df

,fid,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,Civic,Fire,Government,Hospital,Public,School,Sports,Supermarket,Toilet,Transport
0,1066383,JakartaBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11569.4205853237, 2596.8558258989]","[945.11640381707, 3282.43439212513, 3237.10382...","[7498.95040272767, 7516.37603318889, 7675.9230...","[560.398938022342, 1072.06717301466, 827.55224...","[6774.41448376915, 6702.64032964594, 5577.1502...","[365.026293529163, 344.879235449571, 319.60132...","[2125.78605817967, 2643.05724466563, 3235.6737...","[3218.8654899932, 3041.98242113078, 3961.30560...",[12529.2599453257],"[2472.27377729583, 3151.20529278518, 2971.2411..."
1,1066384,JakartaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11531.5570229884, 2554.87215710907]","[784.846381961835, 3139.1108771442, 3374.98168...","[7584.56231406015, 7591.04854277624, 7754.6472...","[661.772349271779, 1121.87321732615, 1096.7341...","[6680.52681454135, 6608.06717350668, 5529.2234...","[352.315106246526, 318.187922819779, 350.90763...","[1972.42150026878, 2480.81170609366, 3092.6826...","[3352.85356921412, 3044.08057571874, 3926.1967...",[12433.2759905468],"[2603.68455009802, 2993.38837866592, 3000.6485..."
2,1066385,JakartaBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11642.7971232215, 2666.39170717637]","[867.229857783321, 3241.1979585112, 3376.68925...","[7637.19475417169, 7651.54519143337, 7812.3155...","[699.949814714631, 1195.67814475294, 732.73912...","[6797.41852633867, 6724.92288502252, 5642.4006...","[327.341238648672, 458.608617092959, 417.78959...","[2065.235509651, 2538.21692237513, 3195.035924...","[3359.57297499204, 3142.24079391535, 4036.3981...",[12550.0017736387],"[2613.6404388793, 3077.98060250478, 3086.88152..."
3,1066468,JakartaBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11627.8007380656, 2651.89619810113]","[885.530271532563, 3252.26108052524, 3344.2948...","[7606.09334538282, 7621.30137456196, 7781.7364...","[668.341998178513, 1168.09532429895, 754.81704...","[6794.09095099758, 6721.75901213262, 5629.1925...","[328.771699601513, 428.966825691132, 428.86393...","[2080.4085568831, 2563.4015621857, 3205.956255...","[3327.02481038315, 3120.58189195389, 4020.7778...",[12547.315331093],"[2581.01594331264, 3096.22441431371, 3061.5138..."
4,1066469,JakartaBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11630.9842102565, 2654.51420424354]","[856.777705717592, 3229.20653575625, 3377.7396...","[7632.60748686317, 7646.0437279784, 7807.14542...","[696.207702967176, 1188.29513752119, 723.54001...","[6784.45793962412, 6711.95899626664, 5630.2908...","[340.299822965049, 446.094524003453, 405.68632...","[2054.02860644657, 2530.4493723642, 3183.02122...","[3360.06779464542, 3132.13788904897, 4024.7199...",[12537.0295989592],"[2613.71882920884, 3067.57364274123, 3078.2441..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319005,35598805,JakartaBuilding1334909,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11517.5768435789, 10085.2236005585]","[3087.92440696076, 5340.51709889463, 4824.8266...","[3892.12934064728, 3952.98574018592, 3969.9925...","[317.477312714462, 240.943796317879, 435.45836...","[12958.0007425679, 12192.0945518749, 12191.081...","[372.601032685769, 338.452277047459, 111.59039...","[2746.03687171601, 1502.10703223139, 2693.3605...","[4725.27271958554, 4111.73784751627, 3396.0920...",[15765.2143531295],"[929.67480246019, 3105.92477313198, 3106.82043..."
1319006,35598806,JakartaBuilding1334910,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11766.1432333793, 10283.9633237127]","[3233.06200771332, 5377.18777467996, 5070.7265...","[4136.3034077116, 4194.98987879908, 4215.38666...","[445.128204703808, 482.950429305645, 285.64416...","[13206.733729591, 12431.8152940224, 12430.2840...","[180.658011810438, 275.963904226717, 297.67565...","[2789.36179749728, 1464.61315753824, 2939.0131...","[4847.95598903964, 4139.76548227812, 3604.2700...",[16017.5763377597],"[731.864777192976, 3336.71498722306, 3338.0242..."
1319007,35598807,JakartaBuilding1334911,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11257.8239440085, 10866.4915014144]","[2040.17182131142, 4092.15478503928, 4037.2173...","[4324.21672068914, 4420.17252921105, 4642.2554...","[100.106936259899, 859.671414039392, 518.94429...","[12695.4876570913, 12566.9308997123, 12573.981...","[489.064601295692, 458.278319312373, 125.08614...","[1443.94372726322, 2609.12419549906, 2522.6015...","[5522.52417347222, 2806.92655933738, 4218.8560...",[15706.4511247127],"[1184.85209210463, 3760.84701132814, 3757.4161..."
1319008,35598808,JakartaBuilding1334912,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11237.166919245, 10864.6194756052]","[2013.97032503755, 4072.59034786294, 4017.3310...","[4317.05622852894, 4413.62265374715, 4633.9797...","[119.402248489124, 856.248030238236, 512.24550...","[12674.6916802036, 12556.2080904253, 12563.410...","[460.823064220531, 143.904553223956, 326.67528...","[1423.55200702764, 2586.16107117761, 2498.0025...","[5518.62620254692, 2788.03244932328, 4220.1326...",[15688.256023277],"[1211.08215533606, 3758.84579095199, 3755.3266..."
1319009,35598809,JakartaBuilding1334913,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[11944.7610877431, 10335.9628307788]","[3428.76901760929, 5528.46420091293, 5254.1664...","[4263.17689101923, 4316.91729604703, 4345.1539...","[513.152864383406, 163.631753188722, 240.05461...","[13384.9682296825, 12545.8273845993, 12543.224...","[110.170538233137, 235.733501899247, 266.40751...","[2948.15466063728, 1338.5873010809, 3071.07645...","[4825.26421419515, 4287.86750127183, 3674.0934...",[16178.0340017693],"[732.340668115769, 3439.28959719675, 3441.2689..."

In [4]:
df.columns

Index(['fid', 'Building', 'name:en', 'building', 'building:levels',
       'building:materials', 'addr:full', 'addr:housenumber', 'addr:street',
       'addr:city', 'office', 'source', 'name:id', 'osm_id', 'osm_type',
       'Shape_Leng', 'Shape_Area', 'ADM2_EN', 'ADM2_PCODE', 'ADM2_REF',
       'ADM2ALT1EN', 'ADM2ALT2EN', 'ADM1_EN', 'ADM1_PCODE', 'ADM0_EN',
       'ADM0_PCODE', 'date', 'validOn', 'validTo', 'lon', 'lat', 'Civic',
       'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports',
       'Supermarket', 'Toilet', 'Transport'],
      dtype='object')

In [5]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']
for col in columns:
    df[col] = df[col].apply(ast.literal_eval)

CPU times: total: 5min 8s
Wall time: 5min 17s

In [6]:
df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']] = df[['Civic', 'Fire', 'Government', 'Hospital', 'Public', 'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [7]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [8]:
%%time
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 469 ms
Wall time: 893 ms

In [9]:
df.columns[41]

'Civic_1km'

In [10]:
df['Civic'][0][1]

0.25968558258989

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319010 entries, 0 to 1319009
Data columns (total 71 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   fid                 1319010 non-null  int64
 1   Building            1319010 non-null  object
 2   name:en             52 non-null       object
 3   building            1319010 non-null  object
 4   building:levels     3568 non-null     object
 5   building:materials  0 non-null        float64
 6   addr:full           648 non-null      object
 7   addr:housenumber    1013 non-null     object
 8   addr:street         950 non-null      object
 9   addr:city           1007 non-null     object
 10  office              166 non-null      object
 11  source              1191 non-null     object
 12  name:id             7 non-null        object
 13  osm_id              1319010 non-null  int64
 14  osm_type            1319010 non-null  object
 15  Shape_Leng          1319010 non-null  float64
 16  Shape_Area          1319010 non-null  float64
 17  ADM2_EN             1319010 non-null  object
 18  ADM2_PCODE          1319010 non-null  object
 19  ADM2_REF            0 non-null        float64
 20  ADM2ALT1EN          0 non-null        float64
 21  ADM2ALT2EN          0 non-null        float64
 22  ADM1_EN             1319010 non-null  object
 23  ADM1_PCODE          1319010 non-null  object
 24  ADM0_EN             1319010 non-null  object
 25  ADM0_PCODE          1319010 non-null  object
 26  date                1319010 non-null  object
 27  validOn             1319010 non-null  object
 28  validTo             0 non-null        float64
 29  lon                 1319010 non-null  float64
 30  lat                 1319010 non-null  float64
 31  Civic               1319010 non-null  object
 32  Fire                1319010 non-null  object
 33  Government          1319010 non-null  object
 34  Hospital            1319010 non-null  object
 35  Public              1319010 non-null  object
 36  School              1319010 non-null  object
 37  Sports              1319010 non-null  object
 38  Supermarket         1319010 non-null  object
 39  Toilet              1319010 non-null  object
 40  Transport           1319010 non-null  object
 41  Civic_1km           0 non-null        object
 42  Civic_5km           0 non-null        object
 43  Civic_10km          0 non-null        object
 44  Fire_1km            0 non-null        object
 45  Fire_5km            0 non-null        object
 46  Fire_10km           0 non-null        object
 47  Government_1km      0 non-null        object
 48  Government_5km      0 non-null        object
 49  Government_10km     0 non-null        object
 50  Hospital_1km        0 non-null        object
 51  Hospital_5km        0 non-null        object
 52  Hospital_10km       0 non-null        object
 53  Public_1km          0 non-null        object
 54  Public_5km          0 non-null        object
 55  Public_10km         0 non-null        object
 56  School_1km          0 non-null        object
 57  School_5km          0 non-null        object
 58  School_10km         0 non-null        object
 59  Sports_1km          0 non-null        object
 60  Sports_5km          0 non-null        object
 61  Sports_10km         0 non-null        object
 62  Supermarket_1km     0 non-null        object
 63  Supermarket_5km     0 non-null        object
 64  Supermarket_10km    0 non-null        object
 65  Toilet_1km          0 non-null        object
 66  Toilet_5km          0 non-null        object
 67  Toilet_10km         0 non-null        object
 68  Transport_1km       0 non-null        object
 69  Transport_5km       0 non-null        object
 70  Transport_10km      0 non-null        object
dtypes: float64(9), int64(2), object(60)
memory usage: 714.5+ MB

In [12]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Create filtered columns using vectorized operations
for col in columns:
    df[f'{col}_1km'] = df[col].map(lambda x: [n for n in x if n <= 1])
    df[f'{col}_5km'] = df[col].map(lambda x: [n for n in x if n <= 5])
    df[f'{col}_10km'] = df[col].map(lambda x: [n for n in x if n <= 10])

CPU times: total: 3min 56s
Wall time: 11min 43s

In [13]:
df

,fid,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,Sports_10km,Supermarket_1km,Supermarket_5km,Supermarket_10km,Toilet_1km,Toilet_5km,Toilet_10km,Transport_1km,Transport_5km,Transport_10km
0,1066383,JakartaBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.212578605817967, 0.26430572446656303, 0.323...","[0.32188654899932, 0.304198242113078, 0.396130...","[0.32188654899932, 0.304198242113078, 0.396130...","[0.32188654899932, 0.304198242113078, 0.396130...",[],[1.2529259945325701],[1.2529259945325701],"[0.24722737772958298, 0.315120529278518, 0.297...","[0.24722737772958298, 0.315120529278518, 0.297...","[0.24722737772958298, 0.315120529278518, 0.297..."
1,1066384,JakartaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.197242150026878, 0.24808117060936602, 0.309...","[0.335285356921412, 0.304408057571874, 0.39261...","[0.335285356921412, 0.304408057571874, 0.39261...","[0.335285356921412, 0.304408057571874, 0.39261...",[],[1.24332759905468],[1.24332759905468],"[0.260368455009802, 0.299338837866592, 0.30006...","[0.260368455009802, 0.299338837866592, 0.30006...","[0.260368455009802, 0.299338837866592, 0.30006..."
2,1066385,JakartaBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.2065235509651, 0.253821692237513, 0.3195035...","[0.335957297499204, 0.314224079391535, 0.40363...","[0.335957297499204, 0.314224079391535, 0.40363...","[0.335957297499204, 0.314224079391535, 0.40363...",[],[1.25500017736387],[1.25500017736387],"[0.26136404388793, 0.307798060250478, 0.308688...","[0.26136404388793, 0.307798060250478, 0.308688...","[0.26136404388793, 0.307798060250478, 0.308688..."
3,1066468,JakartaBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.20804085568831002, 0.25634015621857004, 0.3...","[0.332702481038315, 0.312058189195389, 0.40207...","[0.332702481038315, 0.312058189195389, 0.40207...","[0.332702481038315, 0.312058189195389, 0.40207...",[],[1.2547315331092999],[1.2547315331092999],"[0.258101594331264, 0.309622441431371, 0.30615...","[0.258101594331264, 0.309622441431371, 0.30615...","[0.258101594331264, 0.309622441431371, 0.30615..."
4,1066469,JakartaBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.205402860644657, 0.25304493723641996, 0.318...","[0.336006779464542, 0.313213788904897, 0.40247...","[0.336006779464542, 0.313213788904897, 0.40247...","[0.336006779464542, 0.313213788904897, 0.40247...",[],[1.25370295989592],[1.25370295989592],"[0.261371882920884, 0.306757364274123, 0.30782...","[0.261371882920884, 0.306757364274123, 0.30782...","[0.261371882920884, 0.306757364274123, 0.30782..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319005,35598805,JakartaBuilding1334909,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.274603687171601, 0.15021070322313898, 0.269...","[0.47252727195855393, 0.411173784751627, 0.339...","[0.47252727195855393, 0.411173784751627, 0.339...","[0.47252727195855393, 0.411173784751627, 0.339...",[],[1.57652143531295],[1.57652143531295],"[0.092967480246019, 0.310592477313198, 0.31068...","[0.092967480246019, 0.310592477313198, 0.31068...","[0.092967480246019, 0.310592477313198, 0.31068..."
1319006,35598806,JakartaBuilding1334910,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.278936179749728, 0.146461315753824, 0.29390...","[0.48479559890396406, 0.41397654822781194, 0.3...","[0.48479559890396406, 0.41397654822781194, 0.3...","[0.48479559890396406, 0.41397654822781194, 0.3...",[],[1.60175763377597],[1.60175763377597],"[0.07318647771929761, 0.333671498722306, 0.333...","[0.07318647771929761, 0.333671498722306, 0.333...","[0.07318647771929761, 0.333671498722306, 0.333..."
1319007,35598807,JakartaBuilding1334911,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.144394372726322, 0.260912419549906, 0.25226...","[0.5522524173472221, 0.280692655933738, 0.4218...","[0.5522524173472221, 0.280692655933738, 0.4218...","[0.5522524173472221, 0.280692655933738, 0.4218...",[],[1.57064511247127],[1.57064511247127],"[0.11848520921046299, 0.376084701132814, 0.375...","[0.11848520921046299, 0.376084701132814, 0.375...","[0.11848520921046299, 0.376084701132814, 0.375..."
1319008,35598808,JakartaBuilding1334912,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.142355200702764, 0.258616107117761, 0.24980...","[0.5518626202546919, 0.278803244932328, 0.4220...","[0.5518626202546919, 0.278803244932328, 0.4220...","[0.5518626202546919, 0.278803244932328, 0.4220...",[],[1.5688256023276999],[1.5688256023276999],"[0.121108215533606, 0.37588457909519896, 0.375...","[0.121108215533606, 0.37588457909519896, 0.375...","[0.121108215533606, 0.37588457909519896, 0.375..."
1319009,35598809,JakartaBuilding1334913,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.294815466063728, 0.13385873010809, 0.307107...","[0.482526421419515, 0.42878675012718304, 0.367...","[0.482526421419515, 0.42878675012718304, 0.367...","[0.482526421419515, 0.42878675012718304, 0.367...",[],[1.61780340017693],[1.61780340017693],"[0.07323406681157689, 0.343928959719675, 0.344...","[0.07323406681157689, 0.343928959719675, 0.344...","[0.07323406681157689, 0.343928959719675, 0.344..."

In [14]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Define a vectorized function using numpy
def transform_list_np(arr, val):
    return np.round(val - np.array(arr), 2).tolist()  # Use NumPy for fast subtraction and rounding

# Vectorized operation with NumPy for speed
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].apply(lambda x: transform_list_np(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].apply(lambda x: transform_list_np(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].apply(lambda x: transform_list_np(x, 10))

CPU times: total: 9min 59s
Wall time: 21min 26s

In [15]:
%%time
# Define columns
columns = ['Civic', 'Fire', 'Government', 'Hospital', 'Public', 
           'School', 'Sports', 'Supermarket', 'Toilet', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 14min 57s
Wall time: 25min 31s

In [16]:
df

,fid,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,1066383,JakartaBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.84,3.54,23.54,48.54,0.0,3.75,8.75,3.53,23.53,48.53
1,1066384,JakartaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.89,3.52,23.52,48.52,0.0,3.76,8.76,3.55,23.55,48.55
2,1066385,JakartaBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.85,3.50,23.50,48.50,0.0,3.74,8.74,3.50,23.50,48.50
3,1066468,JakartaBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.84,3.51,23.51,48.51,0.0,3.75,8.75,3.51,23.51,48.51
4,1066469,JakartaBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.85,3.50,23.50,48.50,0.0,3.75,8.75,3.51,23.51,48.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319005,35598805,JakartaBuilding1334909,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.86,3.02,23.02,48.02,0.0,3.42,8.42,3.96,23.96,48.96
1319006,35598806,JakartaBuilding1334910,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.81,2.96,22.96,47.96,0.0,3.40,8.40,3.91,23.91,48.91
1319007,35598807,JakartaBuilding1334911,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,49.03,3.04,23.04,48.04,0.0,3.43,8.43,3.78,23.78,48.78
1319008,35598808,JakartaBuilding1334912,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,49.03,3.04,23.04,48.04,0.0,3.43,8.43,3.78,23.78,48.78
1319009,35598809,JakartaBuilding1334913,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,48.78,2.91,22.91,47.91,0.0,3.38,8.38,3.85,23.85,48.85

In [21]:
df.columns[71]

'Civic_1km_Score'

In [17]:
# Vectorized scaling operation
df.iloc[:, 71:101] = df.iloc[:, 71:101].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [22]:
# Optimized approach
try:
    df.iloc[:, 71:101] = df.iloc[:, 71:101].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [19]:
df

,fid,Building,name:en,building,building:levels,building:materials,addr:full,addr:housenumber,addr:street,addr:city,...,Sports_10km_Score,Supermarket_1km_Score,Supermarket_5km_Score,Supermarket_10km_Score,Toilet_1km_Score,Toilet_5km_Score,Toilet_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,1066383,JakartaBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.87,7.94,8.22,8.22,0.0,4.07,4.07,6.78,6.78,6.78
1,1066384,JakartaBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,7.01,7.89,8.19,8.19,0.0,4.11,4.11,6.82,6.82,6.82
2,1066385,JakartaBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.90,7.85,8.15,8.15,0.0,4.02,4.02,6.71,6.71,6.71
3,1066468,JakartaBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.87,7.87,8.17,8.17,0.0,4.07,4.07,6.73,6.73,6.73
4,1066469,JakartaBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.90,7.85,8.15,8.15,0.0,4.07,4.07,6.73,6.73,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319005,35598805,JakartaBuilding1334909,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.93,6.77,7.22,7.22,0.0,2.49,2.49,7.73,7.73,7.73
1319006,35598806,JakartaBuilding1334910,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.78,6.64,7.10,7.10,0.0,2.39,2.39,7.62,7.62,7.62
1319007,35598807,JakartaBuilding1334911,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,7.42,6.82,7.26,7.26,0.0,2.54,2.54,7.33,7.33,7.33
1319008,35598808,JakartaBuilding1334912,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,7.42,6.82,7.26,7.26,0.0,2.54,2.54,7.33,7.33,7.33
1319009,35598809,JakartaBuilding1334913,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,6.70,6.52,7.01,7.01,0.0,2.30,2.30,7.48,7.48,7.48

In [ ]:
df.to_csv('JakartaScoreRAW.csv', index = False)